[2017-10-11 19:07] LoicPoullain opened #3 "Express and contextual decorators are confusing"
Express decorators are always executed before contextual decorators. Thus upon a request the hooks in the following code are executed in this order: `expressDecorator1`, `expressDecorator2`, `contextualDecorator1`, `contextualDecorator2`.

[code]

This may be confusing and could lead to unexpected behaviors while using 3p controller decorators. It would be nicer to only have one of those (if you h

[2017-10-11 19:16] LoicPoullain opened #4 "Having post-hooks"
Currently controller decorators are used to execute code before calling a controller method. It would be nice to have post-hook to execute code after the method has been called. Especially the returned value could be changed before sending it back to the client.

Ex: `@afterThatRemoveField('password')`

Possible convention: every post-hook name should start by `afterThat`.

What could be the inter

[2017-10-15 16:31] LoicPoullain opened #8 "Support websockets"
Websockets can be useful in several cases:
- when we want to notify users that a data has changed,
- for games or IoT (lightweight protocol).

Perhaps use [ws](https://github.com/websockets/ws) instead of [socket.io](https://socket.io/): see https://stackoverflow.com/questions/10112178/differences-between-socket-io-and-websockets/38558531#38558531

[2017-10-20 19:13] LoicPoullain commented on #4
Possible implementation:
[code]

[2017-10-23 16:05] #3 closed

[2017-11-01 03:06] nicolasgere opened #11 "Support runtime checking"
Hello,
i did a similar project, but i dont have time to lead it. https://github.com/nicolasgere/squirtle
So may be i can try to help you.
It could be nice to have runtime type checking using joy or something like that in order to have all the benefit of typescript during the dev.

[2017-11-04 12:04] LoicPoullain commented on #11
Hi Nicolas,

Thanks for contributing.

I couldn’t find more docs about joy on the Internet, is it a library?

What would be the purpose of having runtime type checking besides the one during compilation? Do you have an example in mind where the last wouldn’t be sufficient?

How would joy handler interfaces checking?

Thanks

[2017-11-04 17:56] nicolasgere commented on #11
Sorry it's joi, https://github.com/hapijs/joi, what i have in mind, it's to provide the type checking in the runtime to be sure in the request handler than the body respect the typescript type. As another typed language

[2017-11-04 19:44] LoicPoullain commented on #11
Oh ok! Yes this feature should come up in a future release. Currently I’m going to focus on setting up a package for authentication/authorization but schema validation should come right after.

For now, this can be done using a custom pre-hook:
[code]

[code]

I don’t know yet which json schema validator the future package will be using (joi, ajv, etc). It may be nice to have the same schema for b

[2017-12-18 19:49] LoicPoullain commented on #4
Comes out when v0.4.0 is published.

[2017-12-18 19:49] #4 closed

[2018-01-07 21:59] Drulac opened #63 "Use template-literal instead of EJS"
[Template Literal](https://github.com/Drulac/template-literal) is fastest, smallest and simplest template engine, because it use JS's literal template feature.

It's  55 times faster than EJS, and it also use less CPU and RAM ressources, so it may be a good idea to use it instead of EJS 😀

[2018-01-14 12:49] LoicPoullain commented on #8
Closing this for now since it's not a priority issue.

[2018-01-14 12:49] #8 closed

[2018-01-14 15:57] LoicPoullain commented on #11
Feature added in v0.4.0-alpha.3 (https://github.com/FoalTS/foal/pull/59) !

[2018-01-14 15:57] #11 closed

[2018-01-17 06:14] LoicPoullain commented on #63
Hi @Drulac,

It looks like an interesting project you have there. In our case, `FoalTS` has already a package for rendering templates (`@foal/ejs`) and we're not experimenting performance issues for now. Moreover, I find the way ejs handles `if-condition` more intuitive that we would do with template literals.

I'm going to close this issue, but feel free to create your own `foal-generator-literal

[2018-01-17 06:14] #63 closed

[2018-01-21 13:31] LoicPoullain opened #70 "Sequelize warning when running the app."
`sequelize deprecated String based operators are now deprecated. Please use Symbol based operators for better security, read moreat http://docs.sequelizejs.com/manual/tutorial/querying.html#operators node_modules/sequelize/lib/sequelize.js:236:13`

[2018-01-21 13:46] LoicPoullain commented on #70
Fixed in v0.4.0-alpha.4.

[2018-01-21 13:46] #70 closed

[2018-05-12 08:17] LoicPoullain opened #99 "Using TypeORM as primary ORM of official packages (ex: `@foal/authentication`)"
TypeORM
- can generate migrations when a model is changed (this is equivalent in Django to the command [makemigrations](https://docs.djangoproject.com/fr/2.0/ref/django-admin/#makemigrations)),
- natively supports TypeScript,
- supports DataMapper and ActiveRecord,
- has a rich query builder,
- has great and varied configuration files,
- handles multiples connections, databases and replication,
-

[2018-05-12 08:19] LoicPoullain opened #100 "Having an easy way to restrict creation, update and deletion to the current user in a rest API."

[2018-06-05 16:09] LoicPoullain opened #107 "Be able to store the session into a database (SQL, Redis, etc) and not in memory"
## Solution proposal

[code]

[2018-06-13 13:32] LoicPoullain commented on #100
Fixed with v0.5.0.

[2018-06-13 13:32] #100 closed

[2018-06-13 13:33] LoicPoullain commented on #99
Fixed with v0.5.0.

[2018-06-13 13:33] #99 closed

[2018-06-14 05:30] LoicPoullain opened #110 "Be able to set and get cookies in `Context`"

[2018-06-14 05:33] LoicPoullain opened #111 "[Auth] Have a util/pre-hook to prevent from using common passwords (12345, etc)"

[2018-06-14 05:40] LoicPoullain opened #112 "Add a "pages" folder to store custom 404 and 500 pages."
Maybe having something like:
[code]

[2018-06-14 05:42] LoicPoullain opened #113 "Have a `restrictQueryToAuthenticatedUser` pre-hook."
## Description

When creating a REST controller, restricting the actions (CRUD) to the authenticated user's items is not straightforward. FoalTS should have a pre-hook which does the following:
- Only items belonging to the user should be fetched.
- Each updated or deleted item should belong to the user. Otherwise a 404 is returned.
- Each new item should be marked as belonging to the user.

## Cu

[2018-06-14 06:02] LoicPoullain opened #114 "Test `@foal/core` with e2e tests"
- [x] Auth e2e tests.
- [ ] REST e2e tests.
- [ ] Security e2e tests.

[2018-06-14 06:06] LoicPoullain opened #115 "Be able to create several items in one time with REST controllers"
*Use case:*

`POST /foos [ { "foo": "bar" }, { "foo": "barfoo" } ]`

*Note:* The access to the database should be atomic.

[2018-06-14 06:42] LoicPoullain opened #117 "Test `createApp` and `initDB`"

[2018-06-20 14:01] LoicPoullain opened #119 "[Docs] Add a demo with docker"
Show how to use docker when using FoalTS

[2018-06-22 17:16] LoicPoullain opened #125 "[Social auth] Support authentication with OAuth2 providers (Google, Facebook, LinkedIN, Github, etc)"
- [x] Google (added in v1.3)
- [x] Facebook (added in v1.3)
- [x] Github (added in v1.4)
- [x] LinkedIn (added in v1.4)

[2018-06-22 17:18] LoicPoullain opened #126 "Have GraphQL components"
Possible implementation:

[code]

Then write a new guide called `To-Do List with GraphQL`.

[2018-06-27 12:47] Unitech opened #128 "Install logs"
[code]

[2018-07-03 12:47] LoicPoullain opened #136 "Add a "test coverage" badge in the README"

[2018-07-04 12:21] LoicPoullain opened #137 "[@foal/cli] Having a REPL shell"
*Note*: Node.JS REPL supports `await` keyword with the `--experimental-repl-await` flag (see https://nodejs.org/api/repl.html)

[2018-07-04 12:22] LoicPoullain opened #138 "[@foal/cli] Generate e2e tests"

[2018-07-11 14:14] LoicPoullain commented on #110
https://github.com/FoalTS/foal/pull/133

[2018-07-11 14:14] LoicPoullain commented on #117
https://github.com/FoalTS/foal/pull/133

[2018-07-24 14:57] LoicPoullain commented on #110
Fixed in next version.

[2018-07-24 14:57] #110 closed

[2018-07-24 14:59] LoicPoullain commented on #113
Fixed in next version.

[2018-07-24 14:59] #113 closed

[2018-08-03 09:28] LoicPoullain commented on #117
Added some tests in https://github.com/FoalTS/foal/pull/150.

[2018-08-04 18:56] LoicPoullain opened #153 "Add a "redirect" option to the hook `LoginRequired`."

[2018-08-04 18:58] LoicPoullain opened #154 "Add the option "> Login" to `foal g controller [name]`"

[2018-08-05 17:47] LoicPoullain commented on #154
v0.6.0-alpha.3

[2018-08-05 17:47] #154 closed

[2018-08-05 17:57] LoicPoullain commented on #153
Added in v0.6.0-alpha.3

[2018-08-05 17:57] #153 closed

[2018-08-08 14:09] LoicPoullain opened #162 "[@foal/cli] Have default scripts to create new users, groups and permissions"
# Issue

It would be great to have a flexible way to easily create users, groups and permissions with the command line.

# Solution (suggestion)

Create three scripts called `create-permission`, `create-group` and `create-user`:
[code]

[2018-08-08 14:26] LoicPoullain opened #163 "Having "post-hooks""
[code]

Docs: make a simple code profile with `process.hrtime`

[2018-08-10 13:25] LoicPoullain commented on #117
More tests in https://github.com/FoalTS/foal/pull/167.

[2018-08-10 19:05] LoicPoullain commented on #107
Supported in v0-6-0.alpha.4.

[2018-08-10 19:05] #107 closed

[2018-08-10 20:29] LoicPoullain commented on #114
Added auth e2e tests in https://github.com/FoalTS/foal/pull/168.

[2018-08-17 13:55] LoicPoullain opened #174 "Keep using webpack?"
# Issue
Currently every application is built with webpack (dev or prod).

**Is webpack really relevant for backend development?**

## Cons
- Using webpack adds a new layer of complexity to the build process (configuration, etc).
- Using webpack adds 419 dependencies to the project : longer installation.
- Using webpack adds 419 dependencies to the project : it increases the possibility of being ex

[2018-08-17 14:01] LoicPoullain commented on #137
Related to https://github.com/FoalTS/foal/issues/174

[2018-08-17 14:02] LoicPoullain commented on #115
https://github.com/FoalTS/foal/pull/171

[2018-08-17 14:46] LoicPoullain opened #175 "[500] `lib/index.js` tries to import the typescript migrations resulting in an exception thrown."
[code]

[2018-08-21 09:16] LoicPoullain commented on #115
Added in https://github.com/FoalTS/foal/pull/171

[2018-08-21 09:16] #115 closed

[2018-08-22 08:13] LoicPoullain commented on #174
Webpack removed in v0.6.0-beta.1 (https://github.com/FoalTS/foal/pull/177)

[2018-08-22 08:13] #174 closed

[2018-08-22 08:14] LoicPoullain commented on #117
`InitDB` remove in v0.6.0-beta.1 (https://github.com/FoalTS/foal/pull/177).

[2018-08-22 11:04] LoicPoullain opened #179 "Be able to specify the template path in `render`."
Currently to use `render` with a template we need to do this:
[code]
It would be nice to just write that:
[code]

[2018-08-22 11:11] LoicPoullain opened #180 "`npm run build` and `npm run build:w` should not build the test files (`*.spec.ts`)"
# Issue

There is no need to build the test files when running `npm run build` or `npm run build:dev`.

# Solution (suggestion)

Use a `tsconfig.app.json` file that extends `tsconfig.json` and excludes `*.spec.ts` files.

[2018-08-22 11:18] LoicPoullain commented on #137
Removing webpack fixed this issue.

[2018-08-22 11:18] #137 closed

[2018-08-22 11:56] LoicPoullain opened #181 "Create all the sub-apps at the root of `src` instead of nesting them"
Currently each sub-app has a `sub-apps` folder where we put its sub-apps.

This creates a ton of nested folders:
- We have to `cd ../../../foo` every time to use the FoalTS generators. This is not user friendly as we have to always count the number of parent folders.
- Exploring in an IDE the files of this very nested architecture is a bit tedious.

Possible alternative: create all the sub-apps at

[2018-08-23 09:55] LoicPoullain commented on #180
Fixed in v0.6.0-beta.3

[2018-08-23 09:55] #180 closed

[2018-08-23 11:47] LoicPoullain commented on #179
Fixed in v0.6.0-beta.3.

[2018-08-23 11:47] #179 closed

[2018-08-23 13:47] LoicPoullain commented on #175
Fixed in v0.6.0-beta.3.

[2018-08-23 13:47] #175 closed

[2018-08-24 14:54] LoicPoullain opened #187 "Tests do not run with NODE_ENV=test"
# Issue

Test do not run with NODE_ENV=test causing the configuration not to use the `xxx.test.json` files.

We could simply add `NODE_ENV=test` at the start of `npm run start:test` and `npm run start:test:w`. But unfortunately this does not work on Windows.

# Solution (suggestion)

A possible solution could be to create a `foal start:test` command. It would use the mocha API to start the tests w

[2018-09-03 06:48] LoicPoullain commented on #162
Fixed in v0.6.0-beta.4.

[2018-09-03 06:48] #162 closed

[2018-09-05 18:51] Jrfidellis opened #204 "Generate & Run Doc section doesn't work as described"
Running `npm run migration:generate -- -n TestMigration` (as proposed in https://foalts.gitbook.io/docs/databases/generate-and-run-migrations) displays the following error on Windows 10:

[error.txt](https://github.com/FoalTS/foal/files/2354192/error.txt)

[2018-09-06 07:32] LoicPoullain commented on #204
Hi @Jrfidellis

Thanks for reporting this error.

[code]

It looks like that this error is specific to TypeORM (see https://github.com/typeorm/typeorm/issues/2316).

However as entities are all compiled to JavaScript in FoalTS, I think we can get rid of `ts-node` to generate, run and revert the migrations.

I updated the `package.json` with the following lines:
[code]

I tested it on Windows and M

[2018-09-06 12:41] Jrfidellis commented on #204
It's working properly now @LoicPoullain, thanks!

[2018-09-06 12:49] Jrfidellis commented on #204
I took the liberty to open a PL with those changes.

[2018-09-06 15:48] LoicPoullain commented on #204
👌

[2018-09-07 07:32] LoicPoullain opened #207 "Encoding problems when running the `cli` tests on Windows"
# Issue

Issue reported in the PR https://github.com/FoalTS/foal/pull/206. When running the tests of the `cli` package on Windows, they all seem to fail because of a line break encoding (`\n` vs `\r\n`).

# Possible solutions

- Ask collaborators to use a virtual machine (for example vagrant) when developing for the project.

OR

- Update `test-environment.ts` to replace all `\r\n` characters by `

[2018-09-07 07:45] LoicPoullain commented on #204
Fixed in v0.6.0-beta.4.

[2018-09-07 07:45] #204 closed

[2018-09-09 08:27] LoicPoullain commented on #136
Fixed

[2018-09-09 08:27] #136 closed

[2018-09-10 09:00] SilvestrePerret opened #211 "[Documentation | Getting Started | Introduction] Development Server doesn't load the new frontend app"
**Describe the bug**
Following the Getting started Guide, the prepared frontend app doesn't load when refreshing `http://localhost:3000`

**To Reproduce**
Steps to reproduce the behavior:
1. Following the different steps on [this page](https://foalts.gitbook.io/docs/).
2. Replace the `/public` directory and the `src/app/controllers/templates/index.html` template with the downloaded frontend app fi

[2018-09-10 12:02] Jrfidellis commented on #207
After updating the following line: `strictEqual(actual, spec);` to `strictEqual(actual.replace(/\r\n/g, '\n'), spec.replace(/\r\n/g, '\n'));` the number of errors was reduced to 5:

[code]

[2018-09-10 18:24] Jrfidellis opened #214 "Trying to understand the ServiceManager.get()"
About this function inside the ServiceManager:
[code]

What is the purpose of those lines:
[code]

I can't see why someone would use the ServiceManager to get a instance of ServiceManager, could you please clarify @LoicPoullain? Thanks.

[2018-09-10 19:10] Jrfidellis opened #216 "[Documentation] Collapsible menu in the Docs"
Add a collapsible menu in the Docs summary to facilitate the navigation between topics.

Example: https://docs.gitbook.com/

[2018-09-10 19:15] Jrfidellis opened #217 "Add a API section in the Docs"
Add a API section to better describe the interfaces, functions and classes created for and used by Foal (like `Context`,  `AbstractUser` and others).

[2018-09-11 09:07] LoicPoullain commented on #187
Fixed in v0.6.0-beta.5.

[2018-09-11 09:07] #187 closed

[2018-09-11 09:34] LoicPoullain commented on #211
Hi @SilvestrePerret,

Thanks for reporting this.

Currently only typescript files are watched when using `npm run develop`. The templates are just copied-pasted in the `lib/` directory when starting the command. They should normally be watched in a future release.

The docs are now fixed, thanks! 👍

[2018-09-11 09:34] #211 closed

[2018-09-11 09:56] LoicPoullain commented on #214
This feature is used when creating "generic" controllers or services.

Let's imagine that we have a controller `MyController` that uses a service named `MyLogger`. The correct way to call this service is to the use dependency injection like this:

[code]

Under the hood, the global service manager is called like this: `serviceManager.get(MyLogger)`.

Another way to use `MyLogger` with the dependen

[2018-09-11 09:59] LoicPoullain commented on #214
Maybe this could be added in the docs (`controllers.md`?). I'm closing the issue but feel free to re-open it if the explanation is not clear!

[2018-09-11 09:59] #214 closed

[2018-09-11 14:52] #119 closed

[2018-09-12 20:54] Jrfidellis opened #231 "Question about the architectural pattern of the project"
During the docs examples and getting started we can see that the MVC architectural pattern is used, it's also used in the generated codes (ex: the CLI's `generate controller`, choosing `Login`. The controller handles the redirects and also the rendering of the login page).

I would like to know why MVC was chosed as the main architectural pattern (if it was) and if you think it is interesting to c

[2018-09-13 12:16] LoicPoullain commented on #138
Added in v0.6.0-beta.5

[2018-09-13 12:16] #138 closed

[2018-09-13 12:51] LoicPoullain commented on #216
The docs have now a collapsible menu! 🌞

[2018-09-13 12:51] #216 closed

[2018-09-13 13:04] Unitech commented on #128
I've reinstalled the latest version of foal and ran the setup commands, it works great now! closing

[2018-09-13 13:04] #128 closed

[2018-09-13 16:32] LoicPoullain commented on #207
@Jrfidellis When you create a new project and run `foal generate controller hello-world --register`, does the property `controllers` of the `app.module.ts` file is updated? I mean, does a new item `controller('/', HelloWorldController)` is added?

[2018-09-13 17:14] LoicPoullain commented on #207
If it does, then there is probably no changes to do with the code. I guess that the issue comes from how git clones the repository to your host (Windows). It may automatically convert the line endings `LF` (`\n`) to `CRLF` (`\r\n`) causing the tests to fail.

I created a new branch `cli-test-encoding` including a `.gitattributes` file to fix this problem. Could you `git clone ...` againt the repo,

[2018-09-13 18:08] Jrfidellis commented on #207
It doesn't seems to work 😞

PS: the only change i did in the code was replacing the `NODE_ENV=test` to `set NODE_ENV=test &&` at `package.json`

[2018-09-14 04:52] LoicPoullain commented on #207
Can you open a file from your new clone and check the End of Line Sequence encoding? It is displayed in the bottom-right corner in vscode.

![capture_d ecran_2018-09-14_a_06_49_24](https://user-images.githubusercontent.com/13604533/45530408-c0d1b800-b7ea-11e8-856c-019192768f3a.jpg)

[2018-09-19 13:11] LoicPoullain commented on #231
Hi @Jrfidellis ,

Sorry for the late reply!

FoalTS aims to eventually be a backend framework for Single Page Applications. The reason why the "get started" tutorial uses Server Side Rendering is for simplicity. The beginner does not have to know a particular frontend framework to learn FoalTS and he/she usually understands what SSR does.

However future releases will focus on how to integrate Foa

[2018-09-19 22:34] Jrfidellis commented on #231
Thank you, that makes sense.

I just have one more question:

Why a CSRF token is even necessary whit REST? I believe that a REST API should be stateless and should not accept data from either a browser cookie or session (directly). Limiting the request source (to the frontend URL, for example) should be enough to prevent CSRF. (using SSR CSRF seems necessary, no doubt).

I'm using this conversati

[2018-09-20 06:26] LoicPoullain opened #239 "The test generated with the CLI for an "empty" controller fails at compilation"
# Issue

**Describe the bug**

The test generated with the CLI for an "empty" controller fails at compilation.

**To Reproduce**

Run this command:
[code]

Then run the tests.
[code]

The compilation fails with this error:
[code]

**Expected behavior**

The test should pass.

# Solution

Update the generated test file so that `foo` receives an empty `Context`.

**Where to look:**
The directories `

[2018-09-25 21:16] Jrfidellis commented on #207
![image](https://user-images.githubusercontent.com/26925730/46043748-224d2d00-c0ef-11e8-9986-3cd10c0cf19f.png)

[2018-10-02 16:21] LoicPoullain commented on #231
Hi @Jrfidellis, just a little message to tell you that I have not forgotten your question. I just want to meet someone next week (working in security) to discuss about this, to be sure of my answer;).

[2018-10-02 16:53] LoicPoullain commented on #207
Hmm it's weird, I just tried on Windows and it is working fine for me. It is maybe my fault, I told you to pull the branch and directly run the tests. Replacing `NODE_ENV=test` with `set NODE_ENV=test&&` is correct. Did you also add the line `strictEqual(actual.replace(/\r\n/g, '\n'), spec.replace(/\r\n/g, '\n'));` as well after pulling the branch?

[2018-10-10 20:21] Jrfidellis commented on #207
I tested it again and it's working properly, thank you. I did replace the `NODE_ENV=test` with `set NODE_ENV=test &&` and add the line `strictEqual(actual.replace(/\r\n/g, '\n'), spec.replace(/\r\n/g, '\n'));`.

I tested without `spec.replace(/\r\n/g, '\n')`, but the tests failed.

[2018-10-11 10:53] LoicPoullain commented on #207
Great! 💃  Do you want to submit a PR on that? The new branch should be created from `cli-test-encoding` to be sure that we have the proper encoding.

Regarding the environment variable problem, a workaround to make it both work on Windows and Unix systems is to use the `--file` flag of mocha. It lets us execute a file before all the tests which is useful here to change the env variable:

- In `pac

[2018-10-18 22:10] Jrfidellis commented on #207
Hi @LoicPoullain,

I opened a pull request with the changes that you proposed. The Travis build isn't passing because of a missing newline in the 'test.ts' file.

Unfortunately i had to delete my fork repository and i can't add the newline to the PR (it's my first time working with forks and things got a little messy there, so i deleted the old one and did a fresh fork).

[2018-10-19 13:37] LoicPoullain commented on #231
Hi @Jrfidellis ,

It is an interesting question.

Before going further on whether a CSRF token is necessary or not, I’ll dwell a bit on some definitions and concepts of web development.

## General Concepts

### 1. Cookies

*Cookies* are a just a technology to:
- store small pieces of data on the client host (using a key/value mechanism),
- and send and set this data to and from the server.

For e

[2018-10-19 17:31] Jrfidellis commented on #231
Thank you very much @LoicPoullain! I'm looking forward to know about your thoughts on CSRF.

There is just one thing that i disagree there.. in my opinion a ideal API shoudn't send a header like `Set-cookie`, the API should send back the token (`xfe4h8ame56ez`) in the request body and the frontend should decide what to do with him.

I suppose that send a header like 'Set-cookie' wouldn't work if y

[2018-10-22 12:08] #181 closed

[2018-10-22 12:14] #114 closed

[2018-10-22 12:46] LoicPoullain commented on #207
Hi @Jrfidellis ,

Thanks for submitting the PR.

I guess that this one cannot be modified anymore since the "compare" branch no longer exists (the old fork has been deleted). The only solution that I see here is to recreate a new branch from your fresh fork and submit a new PR. If you have other problems while working with forks in the future, don't hesitate to tell me, maybe I can help!

Regardin

[2018-10-23 06:01] LoicPoullain opened #254 "Having JWT support for authentication"
**Is your feature request related to a problem? Please describe.**

When developing SPA or mobile applications, the use of sessions and cookies for authentication may be difficult.

**Describe the solution you'd like**

FoalTS should offer a basic support to handle authentication with JWT.

The solution should:
- have a simple hook `@AuthenticateWithJWTHeader` to decode the `Authorization` header

[2018-10-23 11:13] LoicPoullain commented on #163
Feature added in v.0.6.0

[2018-10-23 11:13] #163 closed

[2018-10-23 11:38] LoicPoullain opened #256 "Be able to enable CORS"
**Is your feature request related to a problem? Please describe.**

Being able to enable CORS would be useful in two situations:
- The server serves a public API.
- During development, the frontend can request the backend from a different source URL (this is an alternative to using a proxy).

**Describe the solution you'd like**

The developer should be able to enable CORS with or without options.

[2018-10-23 11:41] LoicPoullain opened #257 "Write a small guide on how to get started with FoalTS and Angular"
Points to mention:
- git initialization
- directory architecture
- proxy configuration (explain why not using CORS)
- `@angular/cli` output configuration
- the use of the `csrf` token and the `withCredentials` parameter if the authentication uses sessions and cookies

[2018-10-23 11:41] LoicPoullain opened #258 "Write a small guide on how to get started with FoalTS and Vue.js"

[2018-10-23 20:31] Jrfidellis opened #259 "OPTIONS request returning 404"
I created a simple API with a 'hand made' login (not following the login provided by foal).

The API is meant to be public, without SSR.

The problem is that when the browser calls the API (more specifically when it does a OPTIONS request) the API returns a 404 because there is not a response to OPTIONS configured.

I tried adding the following code:
[code]

But the code inside the `app.options` i

[2018-10-23 22:17] Jrfidellis commented on #259
PS: @LoicPoullain, i would like your guidance to solve this issue as quick as possible, because i am planning to use Foal in a Hackathon this week, and this issue would be a problem for that. Thanks!

[2018-10-24 09:07] LoicPoullain commented on #207
Fixed in v0.6.0

[2018-10-24 09:07] #207 closed

[2018-10-24 14:59] LoicPoullain commented on #259
Correct.

Yes, it is.

The problem here is that you are requesting a URL which is different from the `Origin` (the domain or even just the port may differ). This is fine but we need to tell the browser to enable *Cross-Origin Request Sharing*, which is what you are trying to do. [This article](https://www.html5rocks.com/en/tutorials/cors/) explains well this phenomenon.

To do so, I just released

[2018-10-24 16:54] Jrfidellis commented on #259
Thank you @LoicPoullain! I liked your approach of adding the `@Options`.

This gave me 5 seconds of headache during my first tests, lol, then i tried to do a `Ctrl+Shift-F` on `csrf` and found it! Very intuitive.

[2018-10-24 16:54] #259 closed

[2018-10-24 18:28] LoicPoullain commented on #256
Fixed in v0.6.0

[2018-10-24 18:28] #256 closed

[2018-10-24 18:29] LoicPoullain opened #265 "Write a small guide on how to create a public API"
Points to mention:
- CORS
- CSRF
- authentication methods (JWT, API key, Basic, etc)

[2018-10-29 09:06] LoicPoullain commented on #265
Tiny guide mentioning CORS and CSRF added in the docs.

[2018-10-29 09:06] #265 closed

[2018-11-01 10:20] LoicPoullain commented on #239
Fixed in v0.6.1

[2018-11-01 10:20] #239 closed

[2018-11-04 17:59] LoicPoullain commented on #126
This issue needs help! If you have any experience with GraphQL and want to suggest something or share some common difficulties with GraphQL, feel free to start the conversation!

[2018-11-04 18:04] LoicPoullain commented on #254
If you already use JWT for authentication, feel free to share your code or suggest something in this conversation :wink:

[2018-11-13 13:04] PatrickDorneles opened #273 "Trouble testing service that connects to database"
Hi @LoicPoullain,

I'm trying to test a service from Foal and i'm having trouble to figure out the best way to do it. It should register a user. Should i try to connect to the the real database (and do a rollback after that), should i mock the database or it is best to create a connection just for testing (maybe a file that runs before the tests)?

I looked for examples of that in the docs and fou

[2018-11-14 18:22] LoicPoullain commented on #273
Hi @PatrickDorneles ,

The best way to achieve this is to use a test database and add some fake data before the test. Here's an example with a SQLite db:

[code]

Note in this example that if another service (or a controller) uses the `UserController`, you can test it by mocking the `UserService`:

[code]

Does it help?

[2018-11-14 18:24] LoicPoullain commented on #273
My bad, your example was to register a user, not getting them. It's the same logic though

[2018-11-21 23:16] wbhob commented on #254
I would suggest having a global provider also have an "interceptor" of sorts to send data through the decorator. That is to say, after parsing the content of the token, I could make a database call to get more properties of the user from an external function before returning control to the main method controller.

[2018-11-28 03:56] robertoaceves opened #274 "Error making a POST request in the Simple To-Do List application"
**Describe the bug**
The *POST* requests fail with an _Error 403: Forbidden error_ (Bad csrf token.) when trying to add a new entry in the _Simple To-Do List_.

**To Reproduce**
Steps to reproduce the behavior:
1. Download the source code of the first tutorial from https://foalts.org/simple-todo-list-source-code.zip.
2. Expand the file, open a Terminal and move to the _simple-todo-list_ directory

[2018-11-28 16:33] LoicPoullain commented on #274
Hi @robertoaceves ,

Thanks for reporting this issue!

I tried to reproduce the error downloading the zip file and it's working fine on my host. The CSRF token is correctly forwarded to the client since the `X-CSRF-Token` header is present and not empty. I wonder if the problem does not come from the session cookie which may conflict with another project that would have run on the same port 3000.

[2018-11-28 17:10] robertoaceves commented on #274
Hi @LoicPoullain,

That did the trick! Now the app is working. Although, I had to clear all the cookies for this origin
![yum_yum](https://user-images.githubusercontent.com/1446826/49168256-18b98e80-f305-11e8-9601-4f7e65d3424a.png)

Before, I also tried disabling the CSRF protection as suggested here https://foalts.gitbook.io/docs/topic-guides/csrf-protection/csrf-protection#retreive-the-csrf-toke

[2018-11-28 17:10] #274 closed

[2018-12-04 14:23] LoicPoullain opened #275 "Add API Reference for each package"

[2018-12-04 17:35] LoicPoullain opened #276 "Support OpenAPI and Swagger UI"
See the description [below](https://github.com/FoalTS/foal/issues/276#issuecomment-470937235).

[2018-12-04 17:37] LoicPoullain commented on #112
Closing this for now

[2018-12-04 17:37] #112 closed

[2018-12-04 17:41] LoicPoullain opened #277 "Add support for Mongoose (MongoDB)"

[2018-12-04 17:42] LoicPoullain opened #278 "Have CLI commands to create REST API blueprints"

[2018-12-04 17:43] LoicPoullain opened #279 "Have CLI commands to quickly connect a Vue/React/Angular frontend to the backend (dev & prod)"
# Issue 1 : "Proxifying" HTTP requests

When building a web application with a rich frontend, it it very common in development to have two servers serving on different ports. For example, with an application written in Foal and Angular, the backend server serves the port `3000` and the frontend one servers the `4200`.

Consequently requests made by the frontend do not reach the backend as they hav

[2018-12-05 11:35] LoicPoullain commented on #254
Thanks for the suggestion @wbhob , the feature is on its way.

[2018-12-10 21:06] LoicPoullain opened #280 "Impossible to delete a todo in the "MongoDB To-Do List" tutorial"
**Describe the bug**

When following [this tutorial](https://foalts.gitbook.io/docs/tutorials/mongodb-to-do-list/2-with-typeorm) the server responds with a 400 error upon todo deletion.

**To Reproduce**
Steps to reproduce the behavior:
1. Follow the "MongoDB To-Do List" tutorial.
2. Try to delete a random todo by clicking on a checkbox.

**Expected behavior**

The todo should be deleted.

**Scree

[2018-12-10 21:10] LoicPoullain commented on #280
Origin of the error : MongoDB ids are not numbers. When requesting `DELETE /todos/:id`, `Ajv` tries to convert the id to a number (`id: { type: 'number' }`) which makes the request to fail.

A first fix is to replace `number` by `string` in `api.controller.ts`

[2018-12-10 21:15] LoicPoullain commented on #280
This first fix leads to another error : 404 - NOT FOUND.

After a first investigation, updating the following lines in `api.controller.ts` and `todo.entity.ts` should fix the issue:

[code]

[code]

The main issue so far is that the compilation "fails" since the `_id` attribute does not exist on `Todo` (but `id` does).

[2018-12-10 21:42] LoicPoullain opened #281 "[Docs] Reorganize the "Topic guides" section"
# Goal

Make the docs more readable and complete and anticipate the documentation of the future features.

# Possible new structure of the "Topic guides" section

Items in italic have not been written yet (even partially).

Architecture
- Architecture Overview
- Controllers
- Services & Dependency Injection
- Hooks

Databases
- TypeORM (SQL & noSQL)
- Create Models & Queries
- Generate & Run Migra

[2018-12-12 08:12] LoicPoullain commented on #275
Resolved

[2018-12-12 08:12] #275 closed

[2018-12-12 14:07] LoicPoullain opened #283 "TypeError: ctx.request.csrfToken is not a function"
# Issue

When `csrf` in `settings.json` is set to false (or through `SETTINGS_CSRF`), the `csrfToken` function is not defined. This is bad since configuration changes should not require code changes.

# Possible solution

Whenever the `csrf` key is set to false, the `csrfToken` function should be defined and return an empty string (or something like `csrf protection disabled`).

[2018-12-12 15:10] LoicPoullain commented on #283
Fixed in v0.7.0

[2018-12-12 15:10] #283 closed

[2018-12-12 15:39] LoicPoullain commented on #254
Added in v0.7.0

[2018-12-12 15:39] #254 closed

[2018-12-13 11:03] LoicPoullain opened #286 "Simplify authentication with sessions and cookies"
# Issue

Currently we have two hooks `AuthenticateWithSessionAndCookie` and `LoginRequired` to authenticate and authorize users through sessions and cookies.

These hooks
- are inconsistent with their JWT equivalents `JWTRequired` and `JWTOptional`
- and they can be confusing to FoalTS beginners: `I just want the user to be logged in to access this route. Why do I need two hooks?`

# Solution

- M

[2018-12-13 11:33] LoicPoullain opened #288 "`LoginController`, `EmailAuthenticator` and `RestController` are too complex and constraining"
# Issue

The `LoginController` and `EmailAuthenticator` are too constraining and do too much things by "magic". If a developer wants to authenticate users with a username/password instead of an email/password, she/he is stuck. He/she has to implement their own authenticator and face its complexity.

The `RestController` with its `IResourceCollection`s  are also too much complicated (over engineeri

[2018-12-17 10:26] LoicPoullain opened #289 "Register the controller routes *after* its sub-controllers."
# Issue

Currently the sub-controllers' routes are registered after the controller routes. This makes difficult to display a custom 404 page when a route does not exist. In the example below, requesting `/home` returns a `404` instead of `200 - 'You are on the home page!'`

[code]

# Solution

Register the subControllers' routes before the controller routes.

[2018-12-17 11:56] LoicPoullain opened #290 "Be able to use another ORM (ex: Mongoose)"
# Issue

FoalTS uses TypeORM as default ORM. TypeORM is great and has some very interesting features (default migration generation, ActiveRecord and DataMapper patterns, TypeScript, lots of databases supported, etc).

However, one may want to use another ORM (or a simple driver) that suits their needs. In particular, for MongoDB users, Mongoose is often the preferred approach (tried and tested tec

[2018-12-17 12:12] LoicPoullain opened #291 "`AbstractUser` is sometimes useless and too constraining"
# Issue

`AbstractUser` is sometimes useless and too constraining:
- Some applications do not need groups and permissions. They can handle authorization with only a `isAdmin` or `roles` property. Using `AbstractUser` adds useless tables in the database.
- Inheriting the user class from `AbstractUser` makes difficult the use of another ORM (see #290).
- Some hooks (i.e. `JWTOptional` and `JWTRequir

[2018-12-17 13:52] LoicPoullain commented on #286
Fixed in v0.7.0

[2018-12-17 13:52] #286 closed

[2018-12-17 13:52] LoicPoullain commented on #289
Fixed in v0.7.0

[2018-12-17 13:52] #289 closed

[2018-12-18 14:52] LoicPoullain commented on #291
Fixed in v0.7.0

[2018-12-18 14:52] #291 closed

[2018-12-18 14:53] LoicPoullain commented on #290
Fixed in v0.7.0

[2018-12-18 14:53] #290 closed

[2018-12-21 10:21] rustamwin opened #296 "Change outDir"
Change outDir, use `build` instead of `lib`

[2018-12-24 10:13] 19majkel94 commented on #126
@LoicPoullain
You can take a look at [TypeGraphQL](https://19majkel94.github.io/type-graphql/) - it follows the same decorator convention as your controllers and integrates well with TypeORM 😉

[2018-12-30 08:38] LoicPoullain commented on #296
Hi @rustamwin,

Good idea, I had this in mind for a while.

Do want to submit a PR on that? These files should be the only ones to update:

**Lib:**
- `packages/cli/src/run-script/run-script.ts`
- `packages/cli/src/generate/templates/app/gitignore`
- `packages/cli/src/generate/templates/app/ormconfig.json`
- `packages/cli/src/generate/templates/app/package.json`
- `packages/cli/src/generate/templa

[2018-12-30 08:42] LoicPoullain commented on #126
@19majkel94 I'll take a look! Thanks

[2018-12-30 08:52] rustamwin commented on #296
Yes, but after Christmas :smile:

[2018-12-30 09:01] LoicPoullain opened #298 "Have an easy way to upload a file with FoalTS"
**Is your feature request related to a problem? Please describe.**

Sometimes we need to upload files to the server from the frontend (an image, a pdf, etc).

**Describe the solution you'd like**

FoalTS should have an easy way to upload files and store them (in a database or directly in the file system). This might be done by adding a small feature to the framework and writing some documentation.

[2018-12-30 14:40] rustamwin opened #299 "Separate packages"

[2019-01-03 21:22] LoicPoullain commented on #281
Section reorganized in v0.7.0

[2019-01-03 21:22] #281 closed

[2019-01-05 19:38] LoicPoullain commented on #299
Hi @rustamwin

I just published the version 0.7.0 that splits the `@foal/core` package into `@foal/typeorm` and `@foal/core`.

Thanks for the suggestion!

[2019-01-05 19:38] #299 closed

[2019-01-08 17:44] LoicPoullain opened #304 "Add a note in the tutorial to fix the `Bad csrf token.` due to a cookie error."
See #274 .

[2019-01-08 17:47] LoicPoullain commented on #274
*Follow-up note:* Since 0.7.0, when disabling the CSRF protection, the command `ctx.request.csrfToken()` does not throw an error anymore (see #283 ).

[2019-01-09 16:52] LoicPoullain commented on #278
Fixed in v0.7.2

[2019-01-09 16:52] #278 closed

[2019-01-09 16:52] LoicPoullain commented on #288
Fixed in v0.7.2

[2019-01-09 16:52] #288 closed

[2019-01-12 08:19] jamesgeorge007 opened #308 "Warn the user for firing in random commands and show up help if none supplied"
As per now,
- If the user fires in `foal` without any arguments nothing shows up.
- The user can fire in any sort of random commands without any sort of warnings thrown.

[2019-01-12 09:20] jamesgeorge007 opened #310 "Validate arguments for createapp"
## Current Issue

## Proposed solution

[2019-01-12 15:50] LoicPoullain commented on #310
Fixed in v0.7.3

[2019-01-12 15:50] #310 closed

[2019-01-12 15:53] LoicPoullain commented on #308
Fixed in v0.7.3

[2019-01-12 15:53] #308 closed

[2019-01-13 04:54] jamesgeorge007 opened #313 "Validate project-name for foal createapp"
## Present Issue

User can provide any sort of special characters for the projectName with foal createapp which doesn't make any sense.
For instance, `foal createapp !@#` works as per now.

## Proposed solution

Validate the name provided as an argument and show warnings appropriately.

[2019-01-15 18:02] jamesgeorge007 opened #314 "Improve console UI"
Currently, on firing in `foal createapp <name>`, the banner is hardly visible as it goes away due to the logging activity for each created file.

What do you think?

[2019-01-21 09:35] LoicPoullain commented on #231
I guess that it depends on the context. I saw some people saving their JWT in a cookie and some other not. One advantage of saving a token in a cookie with the option `HttpOnly: true` is that the token cannot be stolen via an XSS attack. However, that's right, it's more common to see the key/token sent back in the request body (or custom header).

I think some libraries must exist to parse cookie

[2019-01-21 09:58] LoicPoullain commented on #231
When reading your first post and some other comments I've received since, I feel that most people want to create a REST API with a front end (SPA) and handle authentication with JWT and localStorage. Was it / is it your case?

If so, I was thinking about disabling the CSRF protection by default in every new project and replace the SSR example with a simple `ApiController`. This would remove some "

[2019-01-21 11:21] Jrfidellis commented on #231
Hi Loïc,

Yes, it is my case.

It would be better that way because it is the way that (i think) most part of the developers will be interested in using Foal.

[2019-01-21 13:58] LoicPoullain commented on #314
It's true that it's a bit annoying.

What would you suggest? Something like the vue.js CLI output?

[2019-01-22 14:32] jamesgeorge007 commented on #314
Yes, something of that sort. I shall make the required changes and propose a PR 👍

[2019-01-22 14:35] LoicPoullain commented on #314
Shucks, I just made a PR fixe minutes ago :/

[2019-01-22 20:40] LoicPoullain opened #318 "Add a type to Context.request"
**Is your feature request related to a problem? Please describe.**

`Context.request` is of type `any`. This is a bit annoying because we cannot take advantage of TypeScript here.

**Describe the solution you'd like**

Having `Context.request` be typed with `@types/express`.

[2019-01-22 20:45] LoicPoullain opened #319 "[@foal/cli] `foal createapp` fails when git is not installed."
Running `foal createapp` displays the error `spawn git ENOENT` in the terminal.

[2019-01-22 21:03] yeager-j opened #320 "Auth0 Support"
Auth0 is a complete authentication solution, allowing developers to completely outsource authentication. It allows for email/password as well as OAuth2 and 2fa.

The problem with Auth0 is it requires a bunch of setup in the backend. Having FoalTS do this automatically as well as providing hooks would be amazing.

Auth0 supports permissions and groups (called 'roles'), so a potential hook could be

[2019-01-23 09:22] LoicPoullain opened #322 "Looking for feedback!"
Hey guys,

I'm looking for feedback on Foal and I really want to know what you think! 👍 Also if you do not plan to use the framework in the future, feel free to tell why!

1. What features do you use? What features are you really excited about?
2. Are there features that you find useless, complicated or that you do not plan to use?
3. Did you encounter difficulties when using / learning the framew

[2019-01-23 09:55] LoicPoullain commented on #231
The PR has been merged #315 . Closing this issue

[2019-01-23 09:55] #231 closed

[2019-01-23 10:12] LoicPoullain commented on #319
Fixed in v0.7.5

[2019-01-23 10:12] #319 closed

[2019-01-23 11:14] tweenietomatoes opened #324 "Why export keyword is not public in TS?"
Hi, i have a general question about jscript and specifically type script.

Why export keyword is not public?

i mean something like
[code]

[2019-01-23 16:43] LoicPoullain commented on #304
Closing this since CSRF token is disabled by default now

[2019-01-23 16:43] #304 closed

[2019-01-23 16:52] tweenietomatoes commented on #322
i think, foal client should create templates folder and a sample ejs page when we use createapp.
but i couldn't decide which directory is best. maybe main directory near public folder?

[2019-01-23 16:57] tweenietomatoes commented on #322
why we need to pass 3 params while using render, __dirname might be optional. i personally prefer to define directory in first param as "./templates/something.ejs.html"

[2019-01-24 08:50] LoicPoullain commented on #324
Hi @tweenietomatoes ,

This syntax is not correct in TypeScript.

Two things to differentiate:
- JavaScript is the language interpreted by Node.js and browsers.
- TypeScript is a typed superset of JavaScript that compiles to plain JavaScript.

The `export` keyword is part of the JavaScript specification (more precisely es6, see [here](http://es6-features.org/#ValueExportImport)). It is used to exp

[2019-01-24 10:34] tweenietomatoes commented on #324
so can we use public instead of export in typescript?

[2019-01-24 11:19] tweenietomatoes commented on #324
I was trying to compare that with other languages such as Go.
For example we could use capital letter to export a function. I think export is much clearer than Go.

[2019-01-25 09:01] LoicPoullain commented on #313
Fixed in v0.7.6

[2019-01-25 09:01] #313 closed

[2019-01-25 19:25] yeager-j opened #328 "[@foal/jwt] Invalid import path"
**Describe the bug**
A clear and concise description of what the bug is.

The files `jwt-optional.hook.d.ts` and `jwt-required.hook.d.ts` seem to have bad import paths.

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Create fresh project
2. `$ yarn add @foal/jwt`
3. Run program

**Desktop (please complete the following information):**
 - OS: [e.g. iOS] *Mac OS Mojave*
 - Version [e.g

[2019-01-26 00:12] LoicPoullain commented on #328
Hi @yeager-j,

Thanks for reporting this!

I got the same issue yesterday. Looks like the library didn't compile properly when releasing the package.

Weirdly, deleting the node_modules directory and running again the "npm install" makes the "npm run develop" command to work sometimes.

Anyway, I fixed the import error in this PR: #325 . I'll release the new version today.

[2019-01-26 00:14] LoicPoullain commented on #314
Closing this (improvements made in v0.7.3).

[2019-01-26 00:14] #314 closed

[2019-01-26 17:34] LoicPoullain commented on #328
Fixed in v0.7.6

[2019-01-26 17:34] #328 closed

[2019-01-27 17:56] tweenietomatoes opened #330 "Index.html in public always high priority"
I think, index.html in public folder should be lower priority.
When we set root route within controller, index.html still coming first instead of what we set
in controller ("/").

[2019-01-28 20:41] LoicPoullain commented on #330
Hi @tweenietomatoes ,

Thanks for the suggestion.

Could you give me more details on what you're trying to do? Why do you keep a `index.html` in the `public/` directory if you're defining a route `/` in your controller?

Thanks

[2019-01-28 20:49] tweenietomatoes commented on #330
I didn't touch index.html because while i am experimenting with different frameworks i didn't touch defaults usually. In different frameworks in various platforms mostly i see controller is replacing the index in public when you define root.

[2019-01-28 21:01] tweenietomatoes commented on #330
For example when you set
[code]
web server should render other-index.html instead of index.html in public.

[2019-01-29 01:05] tweenietomatoes commented on #318
Formidable package <3
and maybe ctx.request.body.file ?
When i was first checking file upload operations in node back at early days, it was always exploding for big files on SSD.
Well Foal is claimed to be an enterprise-grade so i am not sure how to make a file upload super safe.
Maybe even a trigger for clamav to test incoming files.

[2019-01-29 14:24] LoicPoullain commented on #273
Hi @PatrickDorneles,

Did it solve your problem? Can I close this?

Thanks!

[2019-01-29 14:34] LoicPoullain commented on #330
I see. Actually if you do want to render the `other-index.html` template on `/` requests, you could remove `index.html` from the `public/` directory as it is useless here. The problem would be solved.

Putting the static files upstream of the request lifecycle is quite common in Node.js. It prevents the application from unnecessarily executing middlewares or scanning all the controller routes. Thi

[2019-01-29 14:34] #330 closed

[2019-01-29 14:35] LoicPoullain commented on #324
Closing this as answered by @yeager-j

[2019-01-29 14:35] #324 closed

[2019-01-29 15:06] LoicPoullain commented on #322
Suggestion noted. Usually I create a `templates/` directory in the `controllers` folder(s).

This is due to the way Node.js handles relative paths. Without the `__dirname` argument, `./templates/something.ejs.html` would be related to where the node process is started (usually the root of the directory) and not the controller file. Maybe the third parameter could be optional though.

[2019-01-29 16:45] gilbert commented on #322
Foal's docs say it's based on express. Is it compatible with express middleware libraries? If so, what does that look like?

[2019-01-29 17:21] LoicPoullain commented on #322
Hi @gilbert !

It's not possible to use express middlewares in your controllers or hooks. The main reason is that the framework core is almost entirely separated from Express. Express is just used as low-level layer.
However, you can provide your own express instance to `createApp` in `src/index.ts` and thus use express middlewares at a global level.

[2019-01-29 17:48] nobleach opened #331 "Debug to console"
I see a way to decorate a route in a controller with a `@Log` decorator. Is there a way to do simple log statements like
[code]
Typically these would be like:
[code]
in many other frameworks.

My reasoning is that I often have VERY thorough logs at the debug-level (and during development). But very sparse info-level.

[2019-01-29 20:02] tweenietomatoes commented on #322
from what i know ecma 6 came with default params in functions. it can be smtg like function ( x,y = "/") you know already (ts got that advantages as well).

Well nestjs got everything possibly a person can want but varieties and amateur approach improves quality so foal looks much simpler, i came from non-js world and made an app within mins without even check tutorials much. i was expecting error

[2019-01-29 23:02] nobleach commented on #331
Just did some digging and realized that this project is using morgan. So one must bring their own logging solution for anything other than request logging. That's fair.

[2019-01-29 23:02] #331 closed

[2019-01-29 23:05] nobleach commented on #322
Probably my biggest gripe is the current config system. JSON is not a pleasant format for working with configs. Further, the idea of needing to have a named file each part of one's config is a bit strange to me. I'm more of a YAML fan when it comes to multi-level configs (but I realize, many people hate that too)

[2019-01-30 10:16] LoicPoullain commented on #331
Hi @nobleach ,

Yes, you can create your own hook to log what you need. For example:
[code]

If you want to log the user id only during development or test, you can also rest on the `Config` class. For example:

*The controller*
[code]

*config/my-config-file.development.json* | *config/my-config-file.test.json*
[code]

It is also possible to call a service in the hook if you want to have a `Logge

[2019-01-30 10:37] LoicPoullain commented on #322
Thanks for you feedback @nobleach.

We could support both YAML and JSON files in the future. Do you want to submit an issue for that as *feature request*?

What do you mean?

*Directory structure*
[code]

*jwt.development.json*
[code]

*settings.development.json*
[code]

Instead of having this, would you like to have something like the example below?

*Directory structure*
[code]

*config.developm

[2019-01-30 13:39] LoicPoullain opened #333 "Automatically parse cookies"
# Issue

Currently we have to manually parse the `Cookie` header to access the cookies (expect the session cookie which is automatically parsed).

# Solution

Automatically parse the cookies if they exist. They should be accessible through `Context.request.cookies` as an object.

[2019-01-30 14:06] LoicPoullain commented on #333
Fixed in February 2019

[2019-01-30 14:06] #333 closed

[2019-01-30 15:43] LoicPoullain opened #335 "Allow `JWTRequired` and `JWTOptional` retrieve the tokens from a cookie."
Currently `JWTRequired` and `JWTOptional` retrieve the tokens from the `Authorization` header. Retrieving the token from a cookie is another common approach that should be suppported.

[2019-01-30 15:56] LoicPoullain commented on #335
Closed with `February 2019`

[2019-01-30 15:56] #335 closed

[2019-01-30 16:35] nobleach commented on #322
Yes, I should have been more clear. A more common approach is to have config settings in one file with multiple levels:

[code]
I'm not saying it's wrong to have one file per concern, I just haven't seen it done that way.

If YAML were to be an option, I'd expect it to be in one file. Maybe? Perhaps I'm wrong about this.

[2019-01-30 16:38] nobleach commented on #331
In my case, I just added winston, and set that up as an app logger. I inject that wherever I need it and I can do `this.logger.info`/`this.logger.error`/`this.logger.debug`, etc.

[2019-01-30 18:52] LoicPoullain commented on #331
Oh nice, I didn't know Winston. I added more documentation on the [Logging & Debugging](https://github.com/FoalTS/foal/commit/3c1aceb0581f986ef817ac7648dd7c1d0204e161) page so that new comers have an example.

[2019-01-30 20:57] nobleach commented on #331
Cool! Thanks for doing that!

[2019-01-30 23:57] nobleach commented on #320
Probably one of the fastest ways to get going with something like this is to take a look at https://github.com/FoalTS/foal/blob/master/packages/jwt/src/jwt.hook.ts One could modify this to support Auth0's authorization/authentication scheme. I'm not sure the responsibility to implement this would fall on the project. (It would be a wonderful contribution from the community)

[2019-01-31 09:57] LoicPoullain opened #338 "Simplify the Config system and support YAML"
Probably my biggest gripe is the current config system. JSON is not a pleasant format for working with configs. Further, the idea of needing to have a named file each part of one's config is a bit strange to me. I'm more of a YAML fan when it comes to multi-level configs (but I realize, many people hate that too)

_Originally posted by @nobleach in https://github.com/FoalTS/foal/issues/322#issueco

[2019-01-31 09:58] LoicPoullain commented on #338
Thanks for you feedback @nobleach.

We could support both YAML and JSON files in the future. Do you want to submit an issue for that as *feature request*?

What do you mean?

*Directory structure*
[code]

*jwt.development.json*
[code]

*settings.development.json*
[code]

Instead of having this, would you like to have something like the example below?

*Directory structure*
[code]

*config.developm

[2019-01-31 09:59] LoicPoullain commented on #338
Yes, I should have been more clear. A more common approach is to have config settings in one file with multiple levels:

[code]
I'm not saying it's wrong to have one file per concern, I just haven't seen it done that way.

If YAML were to be an option, I'd expect it to be in one file. Maybe? Perhaps I'm wrong about this.

_Originally posted by @nobleach in https://github.com/FoalTS/foal/issues/322

[2019-01-31 10:00] LoicPoullain commented on #322
Moving the configuration discussion to a [new issue](#338).

[2019-01-31 16:15] LoicPoullain commented on #318
Uploading a file in FoalTS is a feature that will be added soon. It is a different [issue](#298) though.

[2019-01-31 16:17] LoicPoullain commented on #318
Functionality in [February 2019](https://github.com/FoalTS/foal/pull/329). Closing this.

[2019-01-31 16:17] #318 closed

[2019-01-31 19:11] FloMaetschke commented on #279
This could be easily fixed by providing an option for openapi /swagger.
With this, its possible to generate the required service clients for many languages.
Thats why i would prefer to set openapi to a higher priority.

[2019-02-01 10:30] LoicPoullain opened #340 "[@foal/cli] Be able to generate a script from any place in the project"
# Issue

✅ If I'm at the path `/Users/my-name/my-foal-project/`, then `foal g script create-todo` generates `create-todo.ts` in `src/scripts/`.
✅ If I'm at the path `/Users/my-name/my-foal-project/src/scripts`, then `foal g script create-todo` generates `create-todo.ts` in `src/scripts/`.
❌ If I'm at the path `/Users/my-name/my-foal-project/src/app/controllers`, then `foal g script create-todo` ge

[2019-02-01 16:39] LoicPoullain opened #341 "Have a benchmark to compare performance between a Foal and an Express app"
Requested [here](https://www.reddit.com/r/typescript/comments/akn2xg/foalts_a_web_framework_for_building_serverside/ef65erj/).

This study will check / confirm that Foal does not introduce too much latency compared to an Express application. The tests should be run on *"real"* applications and not a simple `Hello world`.

One test could be to have two REST APIs that uses JWT to authenticate the us

[2019-02-01 18:58] LoicPoullain commented on #279
Hi @FloMaetschke,

Thank you for your interest!

I just added the description of the issue. I guess it's not related to what you're referring to.

Moving this conversation to #276.

[2019-02-01 19:04] LoicPoullain commented on #276
@FloMaetschke, could you me more details on your experience with OpenAPI / Swagger? Why did you start using it and what for? Is there something that you find very valuable that you cannot go without it? Also, if you've already implemented a solution with Foal, even basic, could you share your code?

Thanks!

[2019-02-02 11:41] FloMaetschke commented on #276
Sorry i am just a FoalTS beginner and have just completed your tutorial. Nice!

Anyway, openapi is really useful, because it creates an interoperable service description. With this, you are able to generate service clients and documentation very easy. There are already a lot of tools out there:

E.g: https://github.com/OpenAPITools/openapi-generator
Have a look on the supported languages. The idea

[2019-02-05 17:23] djbeckett opened #343 "Ajv configuration"
The Validation feature uses Ajv and Foal uses a baseline configuration that includes:

`removeAdditional: true`

For my purposes, I need this to be `false`. Other than monkey patching* Foal to change this setting (which I've done and it does now do what I need it to), how can I set this Ajv config value?

\* monkey patched here: `@foal/core/lib/common/utils/get-ajv-instance.js`

By the way, I've s

[2019-02-06 08:16] LoicPoullain commented on #343
Thank so much for this feedback @djbeckett! I really appreciate.

Regarding the AJV configuration, there's currently no way to change the setting without this monkey patch (expect if you implement your own hook).

But adding this fix shouldn't complicated. I'll publish a new version this week to incorporate this feature. You'll be able to change the three baseline configuration properties in `conf

[2019-02-06 13:51] djbeckett commented on #343
That sounds perfect! Thank you, thank you.

[2019-02-06 14:01] djbeckett commented on #257
+1 - We are planning to use Angular to consume the api we are creating with Foal. I am not new to software dev but I am pretty new to web app dev, so having simple, clear examples like this is super helpful.

[2019-02-06 14:11] djbeckett commented on #276
+1 for swagger support. Especially of Foal would generate the swagger.json file based on existing controllers. That would be HUGE, in fact.

[2019-02-07 02:47] djbeckett opened #344 "foal cli 'rest-api' created controllers are not validating id params"
**Describe the bug**
Controllers created using the foal cli `rest-api` option are not validating the 'id' parameter for the four actions that use it: `@Get('/:id')`, `@Put('/:id')`, `@Patch('/:id')` and `@Delete('/:id')`. Without validating the id params database errors are returned when bad id values are used. It should return `400 Bad Request`.

**To Reproduce**
Create a new entity and controlle

[2019-02-07 08:04] LoicPoullain commented on #344
Thanks for reporting this!

I updated the CLI. The fix should be released this week 👍

*Note on the database errors:* They would have been only returned in development (`debug` is `true` in `settings.development.json` and `false` in `settings.json`). In production, we would have received an empty 500 error.

[2019-02-07 08:04] #344 closed

[2019-02-07 09:42] LoicPoullain commented on #343
Feature added in v0.7.7.

[2019-02-07 09:42] #343 closed

[2019-02-07 10:07] LoicPoullain commented on #257
Hi @djbeckett , I'm planning to publish a tutorial/example on this in the next two weeks (currently working on it). There's also some cool feature that should come up in February (see #279 and #348)

[2019-02-07 15:07] #277 closed

[2019-02-07 15:07] LoicPoullain commented on #277
Resolved in `February 2019` release

[2019-02-07 15:31] djbeckett commented on #344
Thank you! And yes I see the config setting for full db error text versus simple 500 error. Thanks for pointing that out.

[2019-02-07 15:36] djbeckett commented on #257
Great! Thank you! That sounds terrific.

[2019-02-07 16:41] LoicPoullain commented on #340
Resolved in `February 2019` resolved.

[2019-02-07 16:41] #340 closed

[2019-02-08 13:24] LoicPoullain commented on #343
@djbeckett I released v0.7.7 👍

[2019-02-08 13:37] djbeckett commented on #343
Awesome! That was really fast. Thank you for these great improvements.

Also did you get my note sent to your email at centraliens.net?

[2019-02-08 14:02] LoicPoullain commented on #343
Yes, I just answered. Thank you so much for your support!

[2019-02-08 16:41] LoicPoullain commented on #276
Someone made me also a demo today. It looks pretty awesome. I'll put this on my top priority list in March then.

Thanks for your comments 👍

[2019-02-08 17:02] djbeckett commented on #276
Yeah, it's pretty sweet! The challenge is to avoid having the swagger data be yet another independent representation of the api. That's one thing Loopback does really well. There is a project I looked at that has it out of the box, but it's not connected to the api definition as far as I can tell.

`https://github.com/w3tecch/express-typescript-boilerplate`

If Foal could generate the swagger file

[2019-02-09 17:43] jcpc91 opened #350 "need help Cannot find module './lib/colors'"
MacBook-Pro: foal createapp my-app
internal/modules/cjs/loader.js:583
    throw err;
    ^

Error: Cannot find module './lib/colors'
    at Function.Module._resolveFilename (internal/modules/cjs/loader.js:581:15)
    at Function.Module._load (internal/modules/cjs/loader.js:507:25)
    at Module.require (internal/modules/cjs/loader.js:637:17)
    at require (internal/modules/cjs/helpers.js:22:18)

[2019-02-09 19:05] LoicPoullain commented on #350
Hi @jcpc91

Thanks for reporting this.

Could you update npm and reinstall the CLI again to see what happens?
[code]

If this is not working, you may also try this:
[code]

Could you also give me the version of your node executable? Did you use nvm for installing node or did you just download the "installer" from nodejs.org ?

[code]

Thanks

[2019-02-10 05:39] jcpc91 commented on #350
thanks for the answer that's work
sorry for my english i don´t speak

[2019-02-10 07:33] #350 closed

[2019-02-11 09:25] LoicPoullain commented on #320
Hey @yeager-j ,

I'm going to move this card to `Maybe`. Implementing this feature would require a lot of work imo:
- Understand the Auth0 API (usage without Express).
- Design and write all the unit and acceptance tests (there would be a lot as we're dealing with a complex and critical subject).
- Ask for the *Open Source Program* to get Auth0 for free.
- A lot of thought about security concerns.

[2019-02-11 09:31] LoicPoullain commented on #125
I won't have time to implement this in February. `OpenAPI / Swagger` & `Uploading a file` should come first imo so I'm moving this back to April 2019.

[2019-02-11 11:39] #273 closed

[2019-02-13 21:33] djbeckett opened #352 "sql scripts after db creation?"
Is there a way to have an sql script run after the database is created by typeorm? I need some triggers that typeorm doesn't support. For example, one to update 'updatedDateTime' fields in postgres with now() when an exiting record is saved.

[2019-02-14 14:08] LoicPoullain commented on #279
Resolved in February Release.

[2019-02-14 14:08] #279 closed

[2019-02-14 15:41] LoicPoullain commented on #352
I assume that you're talking about table and column creation. By default, FoalTS configures TypeORM so that it updates the database schema on every application launch (`synchronize: true` in `ormconfig.json`). If you use [migrations](https://foalts.gitbook.io/docs/topic-guides/databases/generate-and-run-migrations) (recommended for production), you can add new sql queries to create the table / col

[2019-02-14 15:52] djbeckett commented on #352
Loic, yes this is very helpful, thank you! I will read up on migrations and TypeORM listeners.

@CreateDateColumn sets a default value in postgres of now(), but @UpdateDateColumn depends on the api providing the timestamp value. Ideally I'd like all timestamps to be db generated. To do that on updateDateTime fields requires a trigger in postgres. That's why I asked.

Dan

[2019-02-15 09:53] LoicPoullain commented on #338
Resolved in February release

[2019-02-15 09:53] #338 closed

[2019-02-15 17:08] djbeckett commented on #276
This might be helpful. It's a [typescript + express template](https://github.com/bitwit/typescript-express-api-template) that includes swagger support. I don't know enough about it to tell, but I figured you could quickly see if there's something in there that would help FoalTS with swagger support.

[2019-02-16 07:42] LoicPoullain opened #354 "Add docs on how to deploy to Heroku."
# Issue

The purpose is not to re-write a complete tutorial on how to deploy an Node.js app with these solutions. There is already good documentation on the Internet.

It would rather explain on how to do it with a Foal application (with its specificities). For example, if I'm building a new project with AWS Beanstalk and a postgres database, I'll get the database host through the env var `RDS_HOS

[2019-02-16 07:56] LoicPoullain commented on #352
May be related to https://github.com/typeorm/typeorm/issues/1082

[2019-02-16 15:48] LoicPoullain opened #355 "Moving from Gitbook to another documentation solution"
# Issue

I regularly have problems with gitbook.io:
- The synchronisation with Github often fails or does not trigger. As there is no traceback or message error, it's really hard to know if this is a syntax error or a Gitbook internal error.
- Random bugs sometimes appear (for example, the TypeScript syntax highlighting didn't work for a while).
- Gitbook is not SEO-friendly.

# Possible Solution

[2019-02-16 19:01] kmARC opened #357 "Multi-user To-Do list instructions not working"
After this step: https://foalts.gitbook.io/docs/tutorials/multi-user-to-do-list/5-auth-controllers-and-hooks the expected behaviour would be to be able to list todos afer authentication, however, the redirection will throw back to `/signin` again (without any error messages).

[code]

Started with an empty installation (`@foal/cli@~0.7`) and the same issue arises.

[2019-02-16 19:30] kmARC commented on #357
[code]
outputs:
[code]
However, if I try to query the auth field in ctx with disabled redirection:
[code]
it outputs:
[code]

Looks like after this redirection, the context object doesn't have that authentication object.

Looking at the db this is what I see:
[code]

I'm not sure that `cookie` field should be empty.

[2019-02-18 07:18] LoicPoullain commented on #357
Hi @kmARC ,

Thank you for reporting this! And for the investigation!

It looks like the session cookie is not set. It may be due to the HTTP redirection since returning a 209 works (cf e2e test https://github.com/FoalTS/foal/blob/master/packages/typeorm/e2e/auth.spec.ts).

I'm taking a look!

[2019-02-18 14:06] LoicPoullain commented on #357
I found where the issue comes from and why it didn't appear in the previous version of tutorial.

When the user logs in at `/auth/login`, the application sets a cookie on the client so that further requests are authenticated. As no [Path](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Set-Cookie) is given, the browser automatically sets its path to `/auth` which causes the problem. The

[2019-02-18 15:03] kmARC commented on #357
Yes, this seems to be working. Thanks!

[2019-02-18 15:03] #357 closed

[2019-02-19 09:40] LoicPoullain commented on #280
Resolved with the new tutorial (see #360)

[2019-02-19 09:40] #280 closed

[2019-02-20 15:31] nihiels opened #361 "delete todo in mongodb tutorial deletes the first found todo and not the clicked one"
https://foalts.gitbook.io/docs/tutorials/mongodb-to-do-list/5-the-rest-api

I guess...
await Todo.findOneAndDelete(ctx.request.params.id);
..is not finding the right document. As far as I understood, this method is awaiting an object id and not a string. I'm wondering why TS did not complain.
I changed the line to...
await Todo.findByIdAndRemove(ctx.request.params.id);
...and it's working as expec

[2019-02-20 16:38] LoicPoullain commented on #361
Hi @nihiels

Thanks for reporting this issue! Reporting doc's problems is really valuable.

I saw that you created a fork with the fix. Do you want to submit a PR?

Thanks

[2019-02-20 17:20] LoicPoullain opened #362 "Make `foal generate script` generate a script with a default Mongoose connection in MongoDB projects"
# Issue

Currently, when we generate a MongoDB project with `foal createapp <name> --mongodb` and then run `foal generate script <name>`, the CLI generates a script with a default TypeORM connection.

[code]

# Solution

Detect that the project is a Mongoose project and generate this file:

[code]

[2019-02-20 17:39] LoicPoullain opened #363 "FoalTS should support stateless CSRF protection"
# Issue

Using cookies for authentication requires to have a CSRF protection enabled. Currently we have this:
- The cookie attribute `SameSite` is set by default to `lax` in `config/` to mitigate CSRF attacks. However its support on recent browsers is not sufficient (see [OWASP sheet](https://github.com/OWASP/CheatSheetSeries/blob/master/cheatsheets/Cross-Site_Request_Forgery_Prevention_Cheat_Shee

[2019-02-20 21:51] nihiels commented on #361
Sorry, I was getting interrupted.
Cheers

[2019-02-21 08:03] LoicPoullain commented on #361
No worries. I merged the PR.

Thanks!

[2019-02-21 08:03] #361 closed

[2019-02-26 14:31] LoicPoullain opened #365 "Have a CLI command to generate secrets"
# Issue

Sometimes we need to generate a random secret for different purposes.

For example, I'm deploying my application to production and I need to specify a secret to my environment variable `SETTINGS_JWT_SECRET_OR_PUBLIC_KEY`.

# Possible Solution

Have a CLI command `foal createsecret` thats generates a 256-bit key encoded in base64 using a
a cryptographically secure pseudo random data genera

[2019-02-26 15:03] LoicPoullain opened #366 "Add "ownership" to `foal generate rest-api`"
# Issue

Currently the `generate rest-api` command generates a REST API to create, read, update or delete any elements in a table. But usually, an item belongs to one user and we may want that only this user can read, update and delete their items. We may also want to mark any new created item as owned by the current user.

However, depending of the requirements of each application or endpoint, th

[2019-02-26 15:32] LoicPoullain opened #367 "Add a ConfigMock service"
# Issue

Since v0.8, the static `Config` class can also be used as a service. It is then instantiated as a singleton.

This is particularly useful during testing when we want to check the behavior of a component with different configurations.

A silly example:
[code]

Writing a mock Config by one's self is not very handy. It would be nice to have a way to automate this.

# Possible solution

Have

[2019-02-27 17:07] LoicPoullain opened #368 "[foal generate controller] Support sub-directories and extend the --register option"
# Issue

Large applications can have dozens of controllers. Placing them all at the root of the `controllers/` directory is not possible in this case and we need to create subdirectories.

Unfortunately the current version of `generate controller` only generates controllers at the root of `controllers/`. In addition, the `--register` option only allows the controllers to be registered in `app.cont

[2019-02-27 17:34] LoicPoullain opened #369 "[Debug] Have an "advanced debug" option to detail the hooks and method execution during a request."
# Issue

When we receive from the server an unexpected HTTP response, we usually like to know what happened. Which controller handled the request? Which hooks were executed? Did some hook in particular return the response?

These questions could be answered with an advanced logging that we could use in this case.

# Possible Solution

Add an option `settings.advancedDebug` that displays detailed l

[2019-02-27 18:44] LoicPoullain opened #370 "Be able to customize the global exception handler"
# Issue

In some situations, we want to catch errors thrown or promises rejected in a hook or a controller method. For example, during development, we may want to display a custom 500 page which prettifies the error stack.

# Possible solution

A possible solution could be to add a `CatcherPostHook` decorator which would take a `CatcherHookPostFunction` as parameter. The behavior would be analog t

[2019-03-02 10:14] madlybong opened #371 "authentication not working with CORS"
ENV
FoalTS as API
IONIC [v3] as frontend

FLOW
1. Api Authentication required (Hook) ---> working
2. Load login page and login with HttpRequestOk ---> working
3. Access Api ---> Not Working

PROBLEM
If I use views like html & vue as showed in example every thing works fine. But when I'm making CORS login it fails to save session

after CORS login ctx.request.session returns
`{cookie: {…}, authenti

[2019-03-04 07:16] jcpc91 opened #372 "Documentation JWT"
For better understand add the import statement to all code so for the newer like me will be more easy see where they come from

[code]

docs (https://foalts.gitbook.io/docs/topic-guides/authentication-and-access-control/jwt) on setup section idont understand the docs say:

 but the file **config/default.json** doesn't exist only 3 files
- settings.development.json
- settings.json
- settings.produc

[2019-03-05 18:13] LoicPoullain commented on #372
Hi @jcpc91

Thanks for your interest!

Sounds a good idea. I will pay attention in the future. Do you want to submit a PR on that to fix the JWT doc?

I think that you use the version 0.7 of Foal which had a different configuration system. If so, then you can create a file named `jwt.json` and fill it with this content:

[code]

... and use the `Config` class like this: `Config.get('jwt', 'secretO

[2019-03-05 18:32] LoicPoullain commented on #371
Hi Anuvab,

Thanks for your interest and the details.

It may be related to a cookie issue. CORS requests do not send or set cookies by default.

Could you try to
- add the header `Access-Control-Allow-Credentials: true` in your HTTP responses,
- and add the option `withCredentials: true` to your requests in your frontend?

Let me know if it changes something.

Thanks!

[2019-03-07 10:16] LoicPoullain commented on #276
Follow-up here: I'm working on the issue

[2019-03-07 15:40] jcpc91 commented on #372
hi thanks for the answer and congratulations for the works.
I would like to help you but idont speak english barely can write thanks to the google translate im pretty sure i would spelling mistakes

[2019-03-08 01:14] FloMaetschke commented on #276
thx! Very nice

[2019-03-08 13:58] LoicPoullain commented on #276
*Work in progress*.

**Feel free to comment if you feel that something is missing, irrelevant or super useful. Any comments are welcome**.

# Issue

**What is OpenAPI?**

OpenAPI Specification (fka Swagger Specification) is an API description format for REST APIs. An OpenAPI file allows developers to describe entirely an API.

**Why use OpenAPI?**

- It is a **standard** understandable by many dev

[2019-03-08 14:03] LoicPoullain commented on #258
Closing this in favor of #257

[2019-03-08 14:03] #258 closed

[2019-03-08 14:17] LoicPoullain commented on #372
Sure. No worries. I was just talking about adding the two imports in the code. ;)

Thank you!

Also, did it solve your problem? Can I close this issue?

[2019-03-08 16:18] LoicPoullain opened #374 "Be able to send a file in an HttpResponse"
# Issue

Currently there is no easy way to download a file from a Foal application. A workaround is to completely load the file in the process and then send it to the client.

[code]

It is not ideal because:
- it slows the response time,
- it unnecessarily increases the memory used by the node process,
- and it apparently only works with text files. The `Content-Type` of the response currently ca

[2019-03-08 16:25] LoicPoullain opened #375 "Add a ValidateCookies hook"
# Issue

We currently several validation hooks:
- `ValidateParams`
- `ValidateQuery`
- `ValidateBody`
- `ValidateHeaders`

Validating cookies through the `ValidateHeaders` is not easy and it would be nice to have a custom hook for that. Having a `ValidateCookies` hook would also probably help to generate the OpenAPI spec file when using OpenAPI (see #276).

# Possible Solution

Have a `ValidateCoo

[2019-03-08 19:03] madlybong commented on #371
No luck

[2019-03-08 19:06] madlybong commented on #371
I've been playning arround with the JWT but when every thing is setup I get this in postman
'{
    "code": "invalid_token",
    "description": "The token must include a subject which is the id of the user."
}'

while

'@JWTRequired({ user: fetchUser(User), blackList: isInFile('./blacklist.txt'), cookie: false })'

and

'{
    "code": "invalid_request",
    "description": "Auth cookie not found."
}

[2019-03-08 23:39] jcpc91 commented on #372
yes solved thanks

[2019-03-11 08:28] #372 closed

[2019-03-11 08:59] LoicPoullain commented on #371
Would you have some pieces of code to share? In this way, I'll to try to reproduce the bug on my host.

[2019-03-11 09:09] LoicPoullain commented on #371
The problem comes from the claims of the token. Your JWT must include a `sub` property that is the id of your user. This property is only required when specifying the `user` property. It is used to fetch the user from the database.

*Example*
[code]

This is probably not well-explained in the documentation, I'll update this.

*Note: The `sub` property must be of type string as required by the [JWT

[2019-03-13 12:46] tweenietomatoes opened #376 "Getting 404 in any case"
Currently, i created a new app with foal cli.
Then i run it with npm run develop.
Then i deleted public/index.html
I am getting 404 in any case.
I tried adding new routes in ApiController, nothing changed.

[2019-03-13 12:55] LoicPoullain commented on #376
Hi @tweenietomatoes ,

Can you give the content of your `ApiController` as well the routes you're trying to access?

Thanks

[2019-03-13 13:11] tweenietomatoes commented on #376
import { Get, HttpResponseOK } from '@foal/core';

export class ApiController {

  @Get('/')
  index(ctx) {
    return new HttpResponseOK('Hello world!');
  }

}

[2019-03-13 13:20] LoicPoullain commented on #376
Which URL are you typing in the browser? `http://localhost:3001/api` or `http://localhost:3001`?

[2019-03-13 13:23] tweenietomatoes commented on #376
Crying...

 subControllers = [
    controller('/api', ApiController),
  ];

i forgot that i changed there. 😭

clösing the issue. thx for help. 🍑

[2019-03-13 14:24] #376 closed

[2019-03-14 03:17] rick-software opened #377 "npm run develop throws errors"
npm run develop

node_modules/typeorm/connection/Connection.d.ts:40:28 - error TS1039: Initializers are not allowed in ambient contexts.

40     readonly isConnected = false;
[code]

[2019-03-14 03:18] rick-software commented on #377
MacOS Mojave
$node -v
v10.15.0
$ npm -v
6.4.1

[2019-03-14 04:41] chimon2000 opened #378 "Add more comparisons to other frameworks"
Just to name a few

* [Loopback](https://v4.loopback.io/)
* [Odi](https://odi.gitbook.io)
* [Adonis](https://github.com/adonisjs/adonis-framework)

[2019-03-14 09:47] LoicPoullain commented on #378
Hi Ryan,

Thank you for the suggestion! I will find time to add new comparisons in the documentation

Thanks

[2019-03-14 10:08] LoicPoullain commented on #322
Thank you all for your feedback! I'm closing the issue but feel free to open a new one if needed.

[2019-03-14 10:08] #322 closed

[2019-03-14 10:10] LoicPoullain commented on #377
Hi Rick,

Thank you for reporting this issue!

I got the same problem when creating a new project. It looks like it is related to a new version of TypeORM (`v0.2.15`) published 14 hours ago. I'm still investigating to understand what happens.

**Running `npm install typeorm@0.2.14` fixes the problem.**

The TypeScript compiler can compile files even if they are type errors sometimes. That's why it

[2019-03-14 17:30] LoicPoullain commented on #377
The new version of TypeORM requires TypeScript 3, that's why the command was failing as the CLI installs TypeScript `2.9.2`.

I published a new version of the CLI installing TypeScript 3 by default (the framework supports both TS2 and TS3). This should fix the issue.

[code]

Can you confirm that it's working properly?

[2019-03-14 18:07] rick-software opened #381 "Some common features that would be awesome"
server-side-render
sharing via email/social
i18n

This is awesome by the way!

[2019-03-15 04:19] chimon2000 commented on #378
Np, Odi and Foal looked very similar just from a high level, minus the fact that Foal uses Express and Odi uses Fastify.

[2019-03-15 15:43] LoicPoullain commented on #381
Thanks for the suggestion. I'll put this in the backlog.

Regarding SSR, is this link what you're looking for? https://foalts.gitbook.io/docs/topic-guides/utilities/templating

[2019-03-15 15:48] rick-software commented on #381
renderToString is definitely needed... instead of a template engine is it
possible to simply use JSX? Thanks for your timely responses.

On Fri, Mar 15, 2019 at 8:44 AM Loïc Poullain <notifications@github.com>
wrote:

[2019-03-15 15:58] LoicPoullain commented on #381
Would you have a code example of what you would like to have? What are you trying to accomplish?

[2019-03-15 16:14] rick-software commented on #381
I use material ui and nivo charts and want to be able to render react
components on the server for use in shares, emails and embeds.

Here's what I'm doing on the server (App, here is just the Dashboard):

import express from 'express'
import React from 'react'
import ReactDOMServer from 'react-dom/server'
import { SheetsRegistry } from 'jss'
import JssProvider from 'react-jss/lib/JssProvider'
imp

[2019-03-18 19:47] swanncastel commented on #377
It solves the problem for me ty.

[2019-03-19 08:28] #377 closed

[2019-03-19 08:35] LoicPoullain commented on #381
[code]

[2019-03-19 09:10] LoicPoullain commented on #381
@rick-software I came up with this implementation with Foal:

[code]

If I understand well (tell me if I'm wrong), you currently have two problems:
- You cannot specify in Foal that your static files are served at the path `/build`.
- Your JSX template cannot be compiled and you get a TypeScript error from the compiler.

Regarding the first point, I'm going to open an issue for that as other peopl

[2019-03-19 11:58] LoicPoullain opened #382 "Be able to specify a virtual path prefix for static files"
# Issue

Let's say that we have three static files in a `public/` directory. With FoalTS, these files are accessible through these URLs:

[code]

Now let's assume that we'd like that these files are served using a `static/` prefix.

[code]

This is currently not possible with the framework.

Related issue: #381

# Possible solution

Add an optional option `staticPathPrefix` in the config.

[2019-03-19 13:06] LoicPoullain opened #383 "Prettify the outputs of the `npm run develop` command"
# Issue

Currently:
1. The outputs of the node process and the compiler are all mixed, making it difficult to know at a glance which error belongs to which step.
1. The colors of the compiler outputs are not displayed.

<img width="800" alt="Capture d’écran 2019-03-19 à 13 02 45" src="https://user-images.githubusercontent.com/13604533/54604725-c339f680-4a47-11e9-98d1-5dd3e0ee7cb6.png">

# Possib

[2019-03-19 13:20] LoicPoullain opened #384 "[Docs][Security] Explain how to limit repeated requests to public APIs (Rate Limit middleware)"

[2019-03-19 13:38] LoicPoullain opened #385 "Unit and e2e tests should use sourcemaps when displaying their traceback"
# Issue

The tracebacks of the errors thrown during unit or e2e tests do not use the source maps. Thus the errors refer to the JS files and not the TS ones.

*Current behavior*
<img width="724" alt="current" src="https://user-images.githubusercontent.com/13604533/54610024-68f36280-4a54-11e9-9902-b27470c91795.png">

*Desired behavior*
<img width="729" alt="desired" src="https://user-images.githubus

[2019-03-19 13:42] LoicPoullain opened #386 "Configure VSCode to be able to run unit and e2e tests with the debugger"
# Issue

We already have a command (`foal g vscode-config`) to start a Foal application with the debugger. But using the debugger can also be very useful during unit or acceptance testing.

# Solution

Extend the `foal g vscode-config` command so that we have the option to run the unit and e2e tests with the debugger in VSCode.

[2019-03-19 13:43] LoicPoullain commented on #352
@djbeckett can I close this issue?

[2019-03-19 13:47] LoicPoullain opened #387 "[Outdated] "You are seeing this error because you have debug set to true in your config/settings.js file.""
# Issue

In `debug` mode, the message `You are seeing this error because you have debug set to true in your config/settings.js file.` displayed in the browser is outdated. The `config/settings.js` file does not exist anymore on v0.8.

# Solution

Replace the message with `You are seeing this error because you have debug set to true in your configuration`.

[2019-03-19 13:52] LoicPoullain opened #388 "Write documentation on how to migrate an existing express application to FoalTS"
Topics:
- Social authentication
- JWT
- Hooks, controllers & express middlewares and routes
- nodemon & build process
- `req.user` -> `ctx.user`
- Dependency Injection: `TypeDI`, `InversifyJS`, `tsyringe `

[2019-03-19 14:12] LoicPoullain opened #389 "[Docs] Authentication with session and cookie : explain how to add CORS"

[2019-03-19 15:22] LoicPoullain commented on #387
Fixed in v0.8.7

[2019-03-19 15:22] #387 closed

[2019-03-19 18:30] LoicPoullain commented on #385
Resolved in v0.8.7

[2019-03-19 18:30] #385 closed

[2019-03-19 18:32] LoicPoullain commented on #365
Resolved in v0.8.7

[2019-03-19 18:32] #365 closed

[2019-03-19 20:07] jcpc91 opened #395 "Docs write and example of how to upload file"
Please
Could you write and example how to upload a file and how can i write a direct endpoint using de app express what i mean i try to write this code using expressesjs example

`
async function main() {
  await createConnection();

  const app = createApp(AppController, {
    store: session => new (sqliteStoreFactory(session))({ db: 'db.sqlite3' })
  });
  **app.get('/api/test',  (req, res) => {

[2019-03-19 20:38] LoicPoullain commented on #395
Hi @jcpc91

1. I'm currently working on a new feature to be able to upload files in FoalTS in the future (see #298). I think I would be able to release something within the end of March.
2. In the meantime, if you want to use the express instance (and multer), you can proceed as follow (with your example):

[code]
3. If you're saving your uploaded files in a the file system, you also have the opti

[2019-03-19 20:58] jcpc91 commented on #395
hoo! thanks for you help this help me and congratulations

[2019-03-19 22:13] jcpc91 commented on #395
sorry im testing but didn't work im try to post a file with this code using postman
`POST /api/test/upload HTTP/1.1
Host: localhost:3000
Cache-Control: no-cache
Postman-Token: ac149acd-c16d-156c-f19f-523659adecf4
Content-Type: multipart/form-data; boundary=----WebKitFormBoundary7MA4YWxkTrZu0gW

----WebKitFormBoundary7MA4YWxkTrZu0gW
Content-Disposition: form-data; name="file"; filename="6.pdf"
Cont

[2019-03-20 06:37] LoicPoullain commented on #395
Sorry I meant `ctx.request` which is the request from expressjs

[2019-03-20 07:24] LoicPoullain commented on #395
Can you also give me more context on what you're want to trying to do with this file? I will help me define the `upload` coming feature.

- What is the file type?
- Do you plan to save it into database? in the file system?
- Do you need to read it directly in your code?

Thanks!

[2019-03-20 14:36] LoicPoullain commented on #375
@swanncastel Do you want to implement this feature in the `@foal/core` package? The feature is very similar to what we have with [`ValidateBody`](https://github.com/FoalTS/foal/blob/master/packages/core/src/common/hooks/validate-body.hook.ts) (except that it uses `req.cookies`).

[2019-03-20 15:16] swanncastel commented on #375
Yeah i'd love it !
It seems pretty simple, I'll look at it tonight.

[2019-03-20 15:37] jcpc91 commented on #395
hi thanks for you help
im implemented with "multer" d

[2019-03-20 15:37] #395 closed

[2019-03-22 08:54] LoicPoullain commented on #382
Resolved in v0.8.7

[2019-03-22 08:54] #382 closed

[2019-03-22 08:54] LoicPoullain commented on #367
Resolved in v0.8.7

[2019-03-22 08:54] #367 closed

[2019-03-22 17:32] LoicPoullain commented on #375
Resolved in v0.8.7

[2019-03-22 17:32] #375 closed

[2019-03-24 21:33] h3ronakam opened #399 "npm run develop throws errors (React)"
../../node_modules/@types/react/index.d.ts:2960:13 - error TS2717: Subsequent property declarations must have the same type.  Property 'textPath' must be of type 'SVGProps<SVGTextPathElement>', but here has type 'SVGProps<SVGTextPathElement>'.

2960             textPath: React.SVGProps<SVGTextPathElement>;
[code]

[2019-03-25 06:06] LoicPoullain commented on #399
Hi @h3ronakam

Could you give me more details on what you're doing with your projet? Did you install something else?

[2019-03-25 10:54] LoicPoullain commented on #363
Resolved in v0.8.7

[2019-03-25 10:54] #363 closed

[2019-03-25 12:29] spontoreau opened #400 "Dependency Injection enhancement"
# Issue
Currently Foal resolves dependencies with property injection. Instance are injected with the dependency annotation. This scenario have some issues:
* Compiler is configured with "strictPropertyInitialization" to false. That's a huge problem because this configuration defined properties to be optionally initialised by default. It's better to allow developers to choose that (I personally alw

[2019-03-25 17:35] swanncastel commented on #383
Hi Loic,

I was trying to build my own TypeScript config to run with Koa and i had the same issues for the dev mode.

I've found a couple of solutions to have better outputs :

1. Simply execute ts-node with supervisor but doesn't clear on reload and i didn't find a solution to clear the console with supervisor.

2. Use [ts-node-dev](https://github.com/whitecolor/ts-node-dev).

Under the hood, it

[2019-03-27 11:35] LoicPoullain commented on #383
Thanks for your suggestion @swanncastel

**About the output architecture**

<img width="758" alt="Capture d’écran 2019-03-27 à 09 51 03" src="https://user-images.githubusercontent.com/13604533/55063999-7f637480-5079-11e9-97cb-c45bc8958d6d.png">

I like you approach. I made some tests with `ts-node-dev` and it's true that the output is prettier and less complex than when splitting the console.

F

[2019-03-28 17:55] LoicPoullain commented on #400
Thank you for the detailed feedback Sylvain. And sorry for the late reply, I wanted to read a bit more on dependency injection and think about it before replying back!

I'll open the discussion keeping in mind the framework philosophy: *simple, testable and progressive*.

**Backward compatibility**

Yes. In any cases, keeping the current property injection is important so that we guarantee backwar

[2019-03-28 18:05] LoicPoullain opened #401 "Disk.createHttpResponse should have options to manage caches"
# Issue

Currently the method `createHttpResponseFile` of the `Disk` service does not have headers to manage the cache on the client.

# Possible solution

Take a look at the headers `Etag`, `Cache-Control`, `Expires`, `Date`, `Last-Modified`, `Vary` and see what can be done.

[2019-03-28 18:06] LoicPoullain commented on #298
Resolved in v0.8.7

[2019-03-28 18:06] #298 closed

[2019-03-28 18:06] LoicPoullain commented on #374
Resolved in v0.8.7

[2019-03-28 18:06] #374 closed

[2019-03-28 18:21] spontoreau commented on #400
Yeah sure, don't worry about that ;)

Definitely agree with that, Foal can't remove this feature and some developers prefers property injection!

... I forgot that point 😢. So it seams near impossible to switch this configuration yet!

Yeah sure, I can do that ;)

I have the same feeling because currently private is just a "TypeScript" concept. Also we don't know the impact of ECMAScript private f

[2019-03-29 16:22] j209 opened #402 "Why a new framework?"
Hi
What is different between Foal and [Nest](https://github.com/nestjs/nest),[adonis](https://github.com/adonisjs/adonis-framework) etc?

[2019-04-01 08:12] LoicPoullain commented on #400
I see. I opened an [issue](https://github.com/FoalTS/foal/issues/388) about how to migrate to Foal from an existing application. We could add a section for developers that use Inversify.

Sure thing.

[2019-04-01 08:39] LoicPoullain commented on #402
Hi @j209

Thanks for your interest!

adding #378

## Nest

FoalTS and NestJS are both Node.js frameworks that support TypeScript natively. They have some differences though:
- NestJS architecture is greatly inspired by Angular. **Foal's architecture is meant to be simpler and easily approachable from non-Angular developers.** You'll only find three "components" in Foal: controllers, services and h

[2019-04-04 16:19] LoicPoullain commented on #395
@jcpc91 if it can help, the last version of the framework now includes support for uploading & downloading files (see [here](https://github.com/FoalTS/foal/blob/master/docs/cookbook/upload-and-download-files.md)).

[2019-04-07 04:07] phptuts opened #405 "How would you integrate with Cognito or 3rd Party User Service"
Firstly this framework seems awesome, thank you for creating I know that must have been a crap ton of work.

I am building a project and I would like to use AWS Cognito with FoalTS.  What approach would you recommend?

[2019-04-08 08:54] LoicPoullain commented on #405
Hi @phptuts

Thanks for your interest and for your comment. I really appreciate.

I need a bit of time to understand what AWS Cognito is made for and what its global architecture is. Do you have any more information to give me? So far, it looks like [Auth0](https://auth0.com/), is it?

Potential related issues: #320, #125

[2019-04-08 15:59] phptuts commented on #405
I think it's amazon's version of authentication and user management.  I was able to validate their jwt token using this script though:

[code]

[2019-04-18 16:15] LoicPoullain commented on #276
Great news! I finished to implement the *OpenAPI & Swagger* PR! The new feature will be available soon (it will be deployed in the April Release at the end of the month).

To wait until then, the documentation can be found [here](https://github.com/FoalTS/foal/blob/v0-8-8/docs/api-section/openapi-and-swagger-ui.md).

Feel free to reach me back if you have any trouble.

[2019-04-18 16:15] #276 closed

[2019-04-22 13:28] LoicPoullain opened #409 "`Log` hook is case sensitive when logging request headers"
According to RFC 7230, header names are case-INsensitive. However, when using `Log({ headers: [ 'content-type' ] )`, the `Content-Type` header is not printed. This is a bug.

[2019-04-22 13:40] LoicPoullain commented on #409
Fixed in v0.8.8

[2019-04-22 13:40] #409 closed

[2019-04-22 16:35] LoicPoullain commented on #381
I added a small tuto on JSX SSR in the docs. With regard to the *sharing via email/social* feature, would [nodemailer](https://nodemailer.com/about/) be what you're looking for?

[2019-04-22 21:27] #352 closed

[2019-04-23 09:06] rick-software commented on #381
Yes

On Mon, Apr 22, 2019 at 9:35 AM Loïc Poullain <notifications@github.com>
wrote:

[2019-04-23 14:11] #341 closed

[2019-04-24 12:16] HaceneCo opened #416 "Cors authorization header"
Access to XMLHttpRequest at 'http://localhost:3001/api/projects?archive=false&online=false&q=projet' from origin 'http://localhost:3000' has been blocked by CORS policy: Request header field authorization is not allowed by Access-Control-Allow-Headers in preflight response.

[2019-04-24 16:41] #416 closed

[2019-04-24 16:42] LoicPoullain commented on #416
Hi @HaceneCo

Thanks for reporting this!

I completed [the docs](https://foalts.gitbook.io/docs/topic-guides/api/public-api-and-cors-requests) to explain how to handle requests with the `Authorization` header when CORS is enabled.

Feel free to reopen the issue if it does not work.

[2019-04-24 16:43] LoicPoullain commented on #371
Hi Anuvab

I completely rewrote the [JWT doc](https://foalts.gitbook.io/docs/topic-guides/authentication-and-access-control/jwt) and added some additional notes to the [CORS page](https://foalts.gitbook.io/docs/topic-guides/api/public-api-and-cors-requests). This should solve the authentication problem with JWT.

Feel free to reopen the issue if you are still having difficulty.

[2019-04-24 16:43] #371 closed

[2019-04-24 19:43] lcatania opened #418 "Add calculated column"
Hi,

i was wondering if there is any dedicated way to return a calculated field without adding it to the database with typeorm.

**Example:**

I have the the birthday date in my entity and when i request a user i want to return the user entity with an additional age field which is calculated.

Does someone had this kind of problem and how do u solved it? It looked through the TypeORM documentation

[2019-04-25 07:32] LoicPoullain commented on #418
Hi @lcatania

Would something like this solve your problem?

[code]

[2019-04-25 07:39] lcatania commented on #418
Hi @LoicPoullain

Yeah i implemented it like this.
My question was more regarding how to return it to the API requester.

**To clarify** : I query the entity from the database and when the entity is found i just returned like this.

`return new HttpResponseOK(user);`

The problem is now that i dont have the calculate age in the model because it isnt part of the database.

One think i was thinking

[2019-04-25 08:03] LoicPoullain commented on #418
I see. The `age` property is not taken into account during the `JSON.stringify` because it's a getter.

I'm thinking of several ways to do this. Not sure one is better than another.

1. Use a different returned object like this.
[code]

2. Create a service to return a custom object.
[code]

3. Create a [custom TypeORM repository](https://typeorm.io/#/custom-repository) that overrides the `findOne`

[2019-04-25 08:06] LoicPoullain commented on #418
Another approach:

[code]

[2019-04-25 08:57] lcatania commented on #418
oh yeah that helped me a lot thank you.

btw your doing a great job with this framework keep it up 👌🙌

[2019-04-25 08:59] LoicPoullain commented on #418
👍

Thank you, I appreciate!

Closing this

[2019-04-25 08:59] #418 closed

[2019-04-29 15:53] skilledinblockchain opened #420 "JWT implementation"
First of all many thanks to LoicPoullain  for creating such a well documentated and easy to use framework.

We are very new to TypeScript/JS programming and need some guidance on implementing the JWT feature.

Specifically in the docs (https://foalts.gitbook.io/docs/topic-guides/authentication-and-access-control/jwt#receive-and-verify-tokens) it mentions that the token needs to be added to the hea

[2019-05-01 09:44] LoicPoullain commented on #399
@h3ronakam Are you still stuck with this issue? Can you provide more information on you're trying to do?

[2019-05-01 13:57] LoicPoullain opened #421 "[Download files] Download files from an AWS S3 bucket."
# Issue

We currently have a solution to download a file from the file system (`createHttpResponseFile`). But we do not have a way to download in streaming a file from an AWS S3 bucket.

# Possible solution

Create a package `@foal/aws` and a `createHttpResponseFileFromS3` function.

[code]

[2019-05-01 17:31] LoicPoullain commented on #420
Thanks!

This line is incorrect. The only thing that is done here is adding a header to the HTTP response. Then, if the frontend does not save this token on its side and does not send it back in an `Authorization` header in further requests, the hook `@JWTRequired` won't be able to authenticate the user.

To sum up, here are the steps:
1. The client sends the credentials (password, etc)
2. The ser

[2019-05-02 11:31] skilledinblockchain commented on #420
@LoicPoullain

Many thanks for your reply.

We thought the @LoginRequired was only for the session based authentication so assumed the  @JWTRequired & @LoginRequired were mutually exclusive.

We'd prefer the non-cookie approach as we want to build out the API for our app trying to closely follow a microservices architecture. The theory being it will be more easily to scale.

[2019-05-02 14:57] LoicPoullain commented on #355
Generating the API Reference with `typedoc` instead of `ts-docs-gen` seems to have solved the synchronization problem. Closing this for now.

[2019-05-02 14:57] #355 closed

[2019-05-02 14:58] LoicPoullain commented on #276
The new version has been published! The docs can be found here: https://foalts.gitbook.io/docs/topic-guides/api/openapi-and-swagger-ui

[2019-05-03 15:18] LoicPoullain commented on #420
Yes, `@LoginRequired` uses sessions unlike `@JWTRequired`. I see your point.

Using cookies does not imply that the API uses sessions under the hood. When using `@JWTRequired` with the cookie option, the API is still stateless and so can be scaled more easily.

However, if you prefer not to go with cookies, I think that using page redirections will be complicated. Maybe the more straightforward wa

[2019-05-06 10:10] jamesgeorge007 commented on #310
@LoicPoullain Seems that you've reverted the change :thinking:

[2019-05-06 15:03] LoicPoullain opened #423 "[OpenAPI] Infer OpenAPI spec from JWTRequired, ValidateBody, etc"
# Issue

[code]

Currently, we have to write the OpenAPI spec *by hand*. For instance, in the above example, if I want to specify that authentication with JWT is required and that the body must validate a specific schema, I need to write this:

[code]

This represents a lot of redundant code to write. OpenAPI spec could be inferred from the hooks `@JWTRequired` and `@ValidateBody` in most cases.

[2019-05-06 15:17] LoicPoullain opened #424 "[OpenAPI] REST API generators : include OpenAPI decorators to generate openapi spec."
# Issue

The command `foal generate rest-api` generates controllers and entities to quickly build REST APIs. Currently, the command does not include OpenAPI decorators in the generated controllers. This prevents us from quickly build OpenAPI spec, we have to do it all by hand.

# Possible solution

Support an `openapi` flag that adds OpenAPI decorators in the generated controllers.

[code]

[2019-05-07 10:50] Maadtin opened #425 "Restart server"
Hello is there anyway to auto restart server everytime a controller is changed? currently I need to restart it manually to see the changes. thanks

[2019-05-07 11:39] LoicPoullain commented on #425
Hi Martin,

The server should normally restart every time a controller is changed. Can you provide me more information?
- Do you use `npm run develop`?
- What is your OS?
- What IDE do you use?
- Did your modify your `package.json` file by any chance?

Thanks

[2019-05-07 11:41] LoicPoullain commented on #425
Also, what is the path of your controller?

[2019-05-07 12:06] LoicPoullain commented on #126
# Examples

*app.controller.ts*
[code]

## Schema is a string
[code]

## Schema is a `GraphQLSchema` instance
[code]

## The schema is located in a separated file

*schema.graphql*
[code]

[code]

## The schema is split up in several files

*schema.graphql*
[code]

*schema2.graphql*
[code]

[code]

## TypeGraphQL

Call `buildSchema` from `type-graphql`.

## Override the context sent to the resolve

[2019-05-07 12:13] Maadtin commented on #425
Hello!
I do use `npm run develop`
Im using Windows 10
My IDE is WebStorm
I generated my controller with the `foal generate controller [controller]`, It was generated in `src/app/controllers`

[2019-05-07 12:15] Maadtin commented on #425
Also when I run `npm run develop` the console outputs this message
`Listening on port 3001...
Error: listen EADDRINUSE: address already in use :::3001
     at Server.setupListenHandle [as _listen2] (net.js:1270:14)
 at listenInCluster (net.js:1318:12)
    at Server.listen (net.js:1405:7)
     at main (C:\testing-js\foalts\testing-foalts\src\index.ts:23:14)
    at process._tickCallback (internal/pr

[2019-05-07 12:24] LoicPoullain commented on #425
A previous process (server) might have not be stopped properly. I think the application that you're accessing is actually this old process running and not the one started by the last `npm run develop`.

If you stop `npm run develop`, you should still be able to access `http://localhost:3001` (if it not, let me know).

I'm thinking of two ways to solve this:
- Restart the computer
- Or change the p

[2019-05-07 12:40] Maadtin commented on #425
It works the first time I run `npm run develop` but after I make a change to the controller it throws the `port already used` message

[2019-05-07 12:44] Maadtin commented on #425
I have already restarded my computer and the `PORT=3002 npm run develop` outputs the same message although I'm pretty sure that port is free :s

[2019-05-07 12:52] LoicPoullain commented on #425
:/ Looks like `supervisor` does not succeed in killing the old process (that why it worked the first time because there was no process listening on 3002 yet).

Let's try to go with another approach. Can you install nodemon and change the `start:w` script in `package.json` like this?

[code]

[code]

You will also need to change the port again because 3002 is still used by the old process.

[2019-05-07 13:01] Maadtin commented on #425
It doesn't work If I add nodemon pointing to `./build/index.js` but It works If It points to `src/index.ts` It STILLS outputs the busy port message but It does RELOAD to server. Pretty weird to me.

[2019-05-07 13:03] Maadtin commented on #425
ah I forgot to say that I added the nodemon command in the `develop` script like this `"develop": "npm run build:app && concurrently \"npm run build:app:w\" \"npm run start:w\" nodemon src/index.ts"` this way is the only way I got it working :S

[2019-05-07 13:05] Maadtin commented on #425
forget what I said, It doesn't work anymore XD :/

[2019-05-07 13:08] LoicPoullain commented on #425
did you try to add the `nodemon` class in `start:w`?

[2019-05-07 13:12] LoicPoullain commented on #425
Can you copy / paste the content of `package.json`?

[2019-05-07 13:32] Maadtin commented on #425
No, I added after that, heres my package.json I reverted the changes.
`{
  "name": "testing-foalts",
  "version": "0.0.0",
  "description": "",
  "scripts": {
    "build:app": "copy-cli \"src/**/*.html\" build && tsc -p tsconfig.app.json",
    "build:app:w": "tsc -p tsconfig.app.json -w",
    "start": "node ./build/index.js",
    "start:w": "supervisor -w ./build --no-restart-on error ./build/inde

[2019-05-08 01:00] iyobo opened #428 "Port config not working"
The default port is 3000. That currently clashes with something else I'm running.
Port is set in`config/default.json` to "3001" but this does not get respected when I try to launch the server. It still tries to run with port 3000.

This is a brand new project. There are no port settings in either development.json or production.json

[2019-05-08 07:53] LoicPoullain commented on #428
Hi Iyobo,

- Which version of the CLI do you use (`foal --version`)?
- Which version of `@foal/core`?
- Can you copy paste all the content of `config/default.json` in the issue?
- Do you run the `npm run develop` command from the root of your directory?

Thanks

[2019-05-09 01:35] iyobo commented on #428
To answer these questions I created a brand new project

- 0.8.8
- Whatever version it is with a newly generated project as at right now. This is the pckage.json of a brand new project:
[code]

- This is default.json. funny thing is, even here, default port of a new project is set to 3001. But it ignores this and still starts at 3000
[code]

- Yes, I do

[2019-05-09 01:53] iyobo commented on #428
So I think the issue is I have a setting in my `~/.bash_profile` for some other application `port=3000`.
I suggest properly scoping the settings for Foal? Perhaps using `dotenv`

[2019-05-09 07:25] Maadtin commented on #425
yeah that works now. thanks! but why is this?

[2019-05-09 07:51] LoicPoullain commented on #428
Yes, the problem probably comes from here. Environment variables override the settings defined in the `config/` files. This way, deployment is facilitated to cloud providers that use a different port.

As you have a `.bash_profile` file, I assume that you are either on Linux or Mac. Running this command should normally fix the issue:
[code]

Let me know if this works.

[2019-05-09 08:00] LoicPoullain commented on #425
Great! 👌

2. Changing the script `start:w` makes the `develop` command use `nodemon` instead `supervisor`. `supervisor` seems to fail to restart the node process on your host. It looks like that, when the compilation restarts, the old process is not killed and so still uses the port making the new process to fail. It seems that `nodemon` is working as expected however.
3. Since old processes were

[2019-05-09 08:28] #399 closed

[2019-05-09 08:38] Maadtin commented on #425
Yes that is clear now, thank you very much, closing this!

[2019-05-09 08:38] #425 closed

[2019-05-09 20:39] iyobo commented on #428
But that's just it. What's the point of multi-environment config files if they don't get prioritized over bash pro?

I think this is the issue with using .JSON files for config files as opposed to .JS or .TS files.
It gives better granular config priority control.

for example, I would set `port: 4000` in my config/development.js file and set `port: process.env.PORT || 4000` in my config/productio

[2019-05-13 09:02] LoicPoullain commented on #320
@yeager-j I'm going to implement a new feature on the `@JWTRequired` hook to support dynamic secrets. This way, we will be able to dynamically retrieve RSA public keys from a JWKS endpoint and therefore support server-side authentication with Auth0 & AWS Cognito (adding @phptuts).

The implementation will use the `jwks-rsa` package so that we can support *caching* and *rate limiting*.

Here what I

[2019-05-13 16:14] LoicPoullain commented on #428
Sorry for the late reply.

The `Config` class is designed to prioritize environment variables set on the deployed servers. For example, most of cloud providers set a `PORT` variable to tell which port the server should listen on. I may have several environments deployed (development, production, etc) that use a different port on these servers that on my local host.

This choice is arbitrary though

[2019-05-13 16:15] #428 closed

[2019-05-13 16:35] LoicPoullain commented on #257
I'm going to close this for now. I won't have time to write a complete tutorial on how to build a fullstack application with FoalTS & Angular. Tutorials showing applications using Angular & Express are sufficient to get started IMO. I prefer to focus on harder things to set up on one's own: GraphQL integration, authentication with 3rd party providers (Auth0, Cognito, Google, LinkedIn, etc), migrat

[2019-05-13 16:35] #257 closed

[2019-05-18 22:17] LoicPoullain commented on #354
Focusing right now on GraphQL, Auth0, Cognito and other 3rd-party auth providers (FB, Google, etc). I'm moving this to another "sprint".

[2019-05-18 22:18] LoicPoullain commented on #388
Focusing right now on GraphQL, Auth0, Cognito and other 3rd-party auth providers (FB, Google, etc). I'm moving this to another "sprint".

[2019-05-22 15:27] LoicPoullain opened #431 "Version 1.0.0"
# FoalTS: version 1.0.0

The framework structure and guidelines have been stable for several months now (v0.8.0 and beyond), and we will soon be able to move to a **version 1.0.0** ! As several users are already using FoalTS in production, upgrading to the new version should be easy and take little time.

The changes are listed below. Version 1.0.0 will pretty much be an improvement of v0.8.

## A

[2019-05-25 17:47] pjo336 opened #433 "Question: Custom param validation functions?"
Possibly this is more a question on AJV, but I was curious if there was a way to define your own validation on a body or query parameter coming into a controller request?

A quick and dirty example is something like receiving a date string `2019-05-12`. Rather than just saying `type: 'string'`, i could say "use one of these functions"

[code]

[2019-05-25 17:49] pjo336 opened #434 "Question: Root imports"
Are root import supported? I.e. instead of:
`import  { Foo } from "../../../entities"`

you could do:

`import { Foo } from "@/entities"`.

[2019-05-27 08:21] LoicPoullain commented on #433
Hi @pjo336

Thank you for your interest!

- AJV supports additional validations on `string` properties by specifying a `format` such as `date`, `date-time` or `time`. Example: `{ type: 'string', format: 'date' }`. More info here: https://github.com/epoberezkin/ajv#formats.
- It is also possible to build your own hooks in FoalTS. For example in your case, you may end with something like this:

[cod

[2019-05-27 08:40] LoicPoullain commented on #434
This feature is currently not supported. Adding the compiler option `"baseUrl": "src/app"` in `tsconfig.json` will make the build pass with `import { Foo } from "entities"`. But, unfortunately, TypeScript will not convert the path in the build output making node to fail at runtime (*module "entities" not found*)

However, this could be a feature added in the future (cf PR #436). Do you think it's

[2019-05-27 10:14] LoicPoullain commented on #126
Added in v0.8.9 (will be releases in about a week)

[2019-05-27 10:14] #126 closed

[2019-05-29 10:10] LoicPoullain opened #437 "Keys in `.env` or in environment variables are unexpected converted to partial numbers"
*.env*

[code]

*Code*
[code]

[2019-05-29 10:24] LoicPoullain commented on #437
Fixed in v0.8.9

[2019-05-29 10:24] #437 closed

[2019-05-29 16:00] LoicPoullain commented on #320
Feature included in v0.8.9 (released this week or next week).

[2019-05-29 16:00] #320 closed

[2019-05-29 16:08] LoicPoullain commented on #405
@phptuts I just merged the PR. The new version should be released this week or the next one! Once published, if you have any difficulties using Cognito with Foal, feel free to reach me out and re-open the issue if needed 👌 Hope this helps!

[2019-05-29 16:08] #405 closed

[2019-05-30 15:42] pjo336 commented on #433
That looks perfect! Thanks!

[2019-05-30 15:42] #433 closed

[2019-05-30 15:45] pjo336 commented on #434
Hey, I don't think it's entirely `must hav`. I am just taking Foal for a spin, and trying out things we do at my work. We actually have people who love it, and people who hate it, so I wouldn't want to force it into your app when a user can just add it themselves.

We do this using [module-alias](https://www.npmjs.com/package/module-alias) lib to alter the routes and run ([ts-node](https://www.npm

[2019-05-31 02:27] chiqui3d commented on #402
Wow, I just started to work with Nest and found you trying to do it easier and I got to you and I'm impressed, I love it, I'm going to try it and if any doubt or suggestion come back.

Thanks.

[2019-05-31 08:58] LoicPoullain opened #439 "Support GraphiQL"
# Issue

[GraphiQL](https://github.com/graphql/graphiql) is in-browser IDE for exploring GraphQL. It would be useful to have it in Foal to explore and test our GraphQL APIs

# Possible solution

Add a new package named `@foal/graphiql`

[2019-05-31 09:57] LoicPoullain opened #440 ""npm run develop" does not restart the server when a `*.graphql` file is changed"

[2019-05-31 10:44] Sharlaan commented on #378
[Nest](https://nestjs.com/)

[2019-05-31 17:53] chiqui3d opened #441 "twig is not a template engine."
Hello I'm started and I want to use twig template system, but I get an error:

`Error: twig is not a template engine.`

This package https://github.com/twigjs/twig.js#usage-with-express in Nest worked correctly. I suppose this error will also occur for handlebars

Config default:

`templateEngine: twig`

I also do not see any option to set default templates/views directory.

Thanks

[2019-05-31 18:15] chiqui3d commented on #402
Hello @LoicPoullain
I just started with FoalTS and I love it, but I see some things are missing, and I hope it can help:

Well the first one I just created an issue about template engine here https://github.com/FoalTS/foal/issues/441

1-About structure and directory, I think there is too much 'app' directory,  everything must go into 'src' directory including 'scripts' and the tests folder must go

[2019-05-31 23:05] chiqui3d opened #442 "Configuration for Mysql"
I hope this helps to configure your application with Mysql and TypeOrm.

**ormconfig.yml** (Configure to your liking or use ormconfig.json)
[code]
**index.ts**

[code]

**UserController:**
[code]

[2019-05-31 23:59] #442 closed

[2019-06-01 12:26] chiqui3d commented on #441
I've finally got it this way:

ExampleController extended the BaseController:

[code]
BaseController
[code]

[2019-06-01 17:15] longhungn opened #443 "Grouping multiple hooks into one custom hook?"
Let's say I have an endpoint that requires many hooks
[code]

Is there any way I could create a custom hook `ValidateAll()` that will apply all the 3 validation hooks so I can just specify 1 hook for the endpoint instead?
[code]

[2019-06-02 15:54] chiqui3d commented on #402
How do you like this pattern to follow in the events?

MailEvent.ts in src/Event/Mail.ts or your custom **Naming Convention**
[code]

ExampleController.ts

[code]

[2019-06-03 07:37] LoicPoullain commented on #441
The way Express and FoalTS render templates is quite different, that's why it is not working.

Currently, FoalTS only support packages that export a `renderToString` function (for example `@foal/ejs`)  with this signature:

[code]

The next version of FoalTS ([version 1.0.0](#431)) will also support asynchronous `renderToString` functions.

It's not the first time someone's asking for Twig support

[2019-06-03 07:54] LoicPoullain commented on #378
Thank you for your feedback Raphaël! It really helps me in improving FoalTS in the future.

Yes, FoalTS intends to be simpler that Nest.

Totally agree with that. I'm currently working on it (reading IETF specifications, defining the components that would be adapted to these scenarios: regular web apps, SPA + API or Mobile + API). I hope to support the common auth providers (Google, Twitter, FB, G

[2019-06-03 08:02] LoicPoullain opened #445 "Support Twig template engine and any Express-compatible template engine"
# Issue

Firstly discussed here: #441.

Twig is a popular template engine in Symfony's ecosystem. Several users requested to be able to use it with FoalTS. Currently we only support EJS templates.

It may be nice to eventually support any Express-compatible template engine without needing to create a new package (`@foal/ejs`, etc) each time (`exports.__express = function(path, options, fn) {}`).

[2019-06-03 08:03] LoicPoullain commented on #441
Closing this in favor of #445

[2019-06-03 08:03] #441 closed

[2019-06-03 08:16] LoicPoullain commented on #443
Hi @longhungn

Thank you for your interest.

Currently there is no built-in function to do it. But I think this would do the trick:

[code]

Note: This won't work if one of your hooks returns a *hook post function* (https://foalts.gitbook.io/docs/topic-guides/architecture/hooks#architecture) which won't be the case with your `ValidateXXX` hooks.

Does it help?

[2019-06-03 08:25] LoicPoullain opened #446 "Have a function to group hooks into one."
# Issue

Following discussion here: #443

# Possible solution

[code]

[code]

[2019-06-03 08:36] LoicPoullain commented on #420
@skilledinblockchain can I close this?

[2019-06-03 08:59] LoicPoullain opened #447 "Support Internationalization (i18n)"

[2019-06-03 09:00] LoicPoullain opened #448 "Have documentation or components to send emails."

[2019-06-03 09:00] LoicPoullain commented on #381
Closing this in favor of #447 & #448

[2019-06-03 09:00] #381 closed

[2019-06-03 09:29] chiqui3d commented on #445
Hello @LoicPoullain,

Exactly for anyone Express template engine(Twig, EJS, Handlebars, etc ). It's the easiest and most compatible way.

Please also check this link https://github.com/FoalTS/foal/issues/402#issuecomment-497810358 to have what you think:

Thanks so much.

[2019-06-03 11:50] LoicPoullain opened #451 "Sessions, Tokens & CSRF protection"
# Issue

The current session system has many disadvantages:

- Even if an application **does not** use session, it still
  - has an indirect dependency to `express-session` (through `@foal/core`),
  - gets a useless warning message displayed in production about the `MemoryStore`,
  - has unnecessary default session settings in its configuration files.

Furthermore:
- Current session system **only

[2019-06-03 16:42] LoicPoullain commented on #446
PR merged. Feature will be released in June.

[2019-06-03 16:42] #446 closed

[2019-06-04 10:55] longhungn commented on #443
Feature added in https://github.com/FoalTS/foal/pull/453
Thank you for the great work!

[2019-06-04 10:55] #443 closed

[2019-06-05 17:25] LoicPoullain opened #455 "Write a tutorial on how to deploy a serverless application on Lambda, Azure or GCP"
# Issue

This guide should show how to deploy an application to these cloud providers using the [Serverless framework](https://serverless.com/).

It should cover these topics:
- Simple application with no dependencies
- Application with an SQL database
- Application using sessions (for example: redis)

If you have other needs, feel free to add a comment.

[2019-06-07 08:07] LoicPoullain commented on #424
Feature added in the June release.

[2019-06-07 08:07] #424 closed

[2019-06-07 08:07] LoicPoullain commented on #423
Feature added in June release.

[2019-06-07 08:07] #423 closed

[2019-06-10 01:57] kingdun3284 opened #457 "Invalid json body always return 500"
It executes json parse before any hooks. So I simply can't write a hook to check the body is a valid json or not before returning an 500 error.

[2019-06-10 05:43] LoicPoullain commented on #457
Hi @kingdun3284

Thanks for your interest!

In which situation do you want to send an invalid JSON and check it yourself?

[2019-06-10 05:55] LoicPoullain commented on #457
Also, what is the traceback of the error?

[2019-06-10 07:31] kingdun3284 commented on #457
`<html><head><title>INTERNAL SERVER ERROR</title></head><body><h1>500 - INTERNAL SERVER ERROR</h1><pre>SyntaxError: Unexpected end of JSON input
</pre></body></html>`

Basically it's fine as the server doesn't shut down due to this error. However, I want to customize the error message to tell the client that their body format is incorrect instead of having 500 internal server error which isn't mea

[2019-06-12 08:19] LoicPoullain commented on #457
Sorry for the late reply.

I see one hacky solution to achieve this by providing an express instance to the `createApp` function  in `src/index.ts`:

[code]

The idea here is to manually handle the JSON parsing before executing the code of the framework. It's not really pretty but I guess it would solve your problem for now?

[2019-06-13 13:59] kingdun3284 opened #459 "Decorators Inheritance Problem"
I try to write a base controller which provide basic CRUD operation, but the decorators on it failed. Not just the @ValidateBody failed, @ApiRequestBody will fail as well.

A controller:
[code]
Base Controller:
[code]

Errors:
[code]

[2019-06-14 10:06] LoicPoullain opened #460 "[TypeStack] Make FoalTS more "DRY": serialization, validation & OpenAPI generation"
# Issue

Writing a simple REST API can be quite repetitive in Foal because we may have to write the _same thing_ three times: the entity, the validation schema (AJV) and the OpenAPI request body.

The version 1 of Foal (June Release) will include a new feature to directly generate the OpenAPI request body from the validation schema thus reducing the code redundancy. #454

But this requires the dev

[2019-06-17 07:08] LoicPoullain commented on #420
Closing due to inactivity.
This is simply to keep the issue tracker clean. Feel free to reopen the issue if there are any further thoughts or concerns.

[2019-06-17 07:08] #420 closed

[2019-06-17 07:38] LoicPoullain commented on #459
Thanks for reporting this!

You were right, both issues (the `@ValidateBody` hook and the OpenAPI decorator) comes from the fact that `this.schema` is evaluated at build-time. The solution I found would be to evaluate it at runtime.

## Proposal for the hook issue (`@ValidateBody`)

Bind the `this` to each hook function so as to be able to access the (child) controller at runtime.

*Simple case (c

[2019-06-22 20:47] lcatania opened #463 "fetchUser additional columns"
Hi,

im using the jwt authentication in my api. I implemented it like the documentation suggest it.

`@JWTRequired({ user: fetchUser(Users) })`

And it works more or less ,i just got one problem. I have a team relation in my  user and when im trying to access it in my request its always undefined. I guess the fetching of relations in the fetchUser function is not supported. Is this right or am i j

[2019-06-23 09:36] lcatania commented on #463
Nevermind i figured out and wrote my own fetch functions.

sorry for bothering you

[2019-06-23 09:36] #463 closed

[2019-06-23 18:42] LoicPoullain commented on #463
No worries. Happy that you found out!

[2019-06-23 20:08] LoicPoullain opened #464 "Have functions to generate and verify tokens"
# Issues

In many situations, we need to generate tokens and then verify them (for example in the flow of a password reset).

FoalTS should provide functions to generate such tokens with:
- a cryptography-secure randomness,
- a sufficient length (to avoid brute-force guessing attacks),
- and a possibility of signing the tokens with a secret if desired.

# Solution

## Usage

*Unsigned tokens (simp

[2019-06-26 13:43] LoicPoullain commented on #445
Feature added in v1.0.0. Should be released at the end of the month.

[2019-06-26 13:43] #445 closed

[2019-06-30 15:16] Sharlaan opened #467 "More Suggestions"
I love where this framework is going.
My goal would be to be able to build a full working boilerplate based on FoalTS (with features already suggested [over there](https://github.com/FoalTS/foal/issues/378#issuecomment-497665244)), alongside a separated "client" / "native" folders containing the frontend for web / native. The latter already have great CLI tools, so i'm looking on the backend side

[2019-07-01 09:11] LoicPoullain commented on #459
I just merged the PR fixing this. It will be released with version 1 this week!

Link to the acceptance test: https://github.com/FoalTS/foal/blob/june-release/packages/acceptance-tests/src/controller-inheritance.spec.ts.

[2019-07-01 09:11] #459 closed

[2019-07-01 17:19] LoicPoullain commented on #467
Hi Sharlaan,

Thanks for your suggestions! Glad that you like the framework.

Thanks!

This could be done. We can discuss on the questions and the files and directory structure that should be generated. The big challenge here will be to test all of that. We need to be able to test:
- the CLI prompts
- the generated projects (compilation, behavior of the API, etc).

Maybe we should also reduce the

[2019-07-03 16:16] Sharlaan commented on #467
You are right, setting priorities should help. In my humble opinion, most important ones to get a fully functional running project would be :
- architecture : SSR or SPA, REST or GraphQL, by type or by functionality, which DB, and which frontend framework
- authentication/authorization: strategies(login/pw[, social]), roles

Regarding auth prompts, i wish they would generate the full code, allowin

[2019-07-08 08:06] LoicPoullain commented on #467
## foal createapp

Ok so we maybe could go with something like this:

[code]

(1.) Depending on the result, the CLI would add a `templates/` directory, run the command `foal connect` and maybe install a default template engine (all Express-compatible engines will work with version 1) such as twig. If SSR, add a `PageController` with some routes that use the `render` function. If API (SPA, API, Mob

[2019-07-08 14:36] LoicPoullain commented on #431
Resolved!

[2019-07-08 14:36] #431 closed

[2019-07-08 14:36] LoicPoullain commented on #464
Added in version 1!

[2019-07-08 14:36] #464 closed

[2019-07-08 14:36] LoicPoullain commented on #451
Added in version 1!

[2019-07-08 14:36] #451 closed

[2019-07-08 14:40] LoicPoullain commented on #125
I finished to refactor the authentication system in version 1. So we will able to add social authentication this summer.

[2019-07-09 05:29] kingdun3284 opened #468 "Is it possible to call functions in controllers or services from scripts?"
The @dependency decorator can only be used in controller or service. So if I want to call a function in the service or controller in the shell script, is it possible?

[2019-07-09 08:10] LoicPoullain commented on #468
Yes you can instantiate the service using the `createService` function. It will create the service with all its dependencies:

[code]

There is also `createController` to instantiate a controller, but if one of its methods is shared with a shell script, it's better to move it to a separate service.

Is it what you're looking for?

[2019-07-09 08:13] LoicPoullain opened #469 "[Docs] Add a page on shell scripts"
Currently only tutorials give information on shell scripts. It may be nice to have a separate page in the topic guides which would include these points:

- Example of use cases.
- How to access a service method in a shell script (see #468).
- Best practices to create and close a db connection.

1. What?
2. How to create one
3. Build & run a script -> npm run build:scripts & foal run -b (—build)

[2019-07-09 09:01] kingdun3284 commented on #468
Yes, thank you very much!

[2019-07-09 09:01] #468 closed

[2019-07-09 13:17] squareloop1 opened #470 "ValidateBody behaviour on malformed json"
The ValidateBody Hook is validating property fields and returns a Http BadRequest when a field is missing.

However, if you send a malformed JSON (e.g. trailing comma) in the request it returns a Internal Server error because it could not JSON.parse the body. Correct behaviour should also be a BadRequest, shouldn't it?

Take this from the docs as example:

[code]

If you send a Post Request with a

[2019-07-09 15:50] LoicPoullain commented on #470
Hi @squareloop1

Thanks for reporting this! Yeah, it's inconsistent, the server should return an error 400 instead of a 500. An issue already exists on this: #457. I'm closing this one in favor of the other to keep the issue tracking clean.

I'll fix this when I get extra free time this month 😉

[2019-07-09 15:50] #470 closed

[2019-07-10 11:57] squareloop1 commented on #434
Would love this too. I currently do it with path aliases in the tsconfig.json and handle the output with module-alias.

It just makes the imports cleaner. Sadly it seems like the Foal CLI has a problem with it too when running scripts. It seems like the CLI is not able to find the aliased path modules.

[2019-07-11 10:53] LoicPoullain commented on #434
@squareloop1 can you give an example on how you run a Foal script with the CLI and module-alias?

[2019-07-11 11:33] squareloop1 commented on #434
I just run the normal `foal run my-script` after building my app and my scripts with `npm run build:app` and `npm run build:scripts`
I had configured the baseUrl in the tsconfig.json to `./src/app` and module-alias configured and imported in the main entrypoint to convert the paths to the output build-directory.
App worked fine this way but the CLI did not find the modules when using a module with

[2019-07-11 15:14] pjo336 commented on #434
If this was something people wanted, I could definitely look into implementing it. I would just need a decision on what the base path should look like.

At my work we do `@` aliased to src so `src/services` would be `@/services`.

At home I generally do `~` aliased to the root, so i can import test helper files and factories in tests with `~/tests/factories` or something

[2019-07-11 15:26] squareloop1 commented on #384
This one is interesting. Is a rate limiter somehow doable in FoalTS with hooks or is it better to just use `express-rate-limit` and initialize FoalTS with the customized express object?

[2019-07-12 05:39] wfelipe99 opened #471 "Is it possible to use setCookie() in a SPA?"
I'm new to programming and I'm developing a project just for hobby. Also, English is not my native language, so sometimes I can't express myself right.

I was searching for secure ways to use JWT in a SPA project (I'm using Vue) and I found one that split it in two cookies: one with header.payload and another with signature. I'm trying to get it working, but I can't. I searched a lot, I tried a lo

[2019-07-12 06:47] wfelipe99 commented on #471
It was 100% correct. I can't use secure and httpOnly cookies without SSL, so I was getting set-cookie in response headers but not in my web browser. That's it and all my night is gone just trying to solve that...

[2019-07-12 06:47] #471 closed

[2019-07-12 15:13] LoicPoullain commented on #384
That's exactly the idea! Currently there is no built-in hook to limit repeated requests to the API but we can use the express middleware `express-rate-limit` with a custom express app.

[code]

This issue is a reminder that this example should be added in the documentation (`Cookbook`>`Limit Repeated Requests`). If you feel like you want to submit a PR, I'll be happy to review it!

[2019-07-12 15:42] LoicPoullain commented on #471
Glad you found the solution! The are some features that might be interesting in your case:

**The configuration system**

You can use the `Config` class to make the `secure` option varies depending on your environment. For example:

[code]

config/default.json
[code]

config/production.json
[code]

`npm run start` will not use SSL but `NODE_ENV=production npm run start` will.

**The `@JWTRequired`

[2019-07-12 16:30] wfelipe99 commented on #471
The configuration idea is great, I didn't think about that, thank you.

Yes, the thing about split the JWT in two cookies is to prevent XSS and prevent the browser to have access to the full JWT. I was thinking and if a user creates a browser extension and convince another user to use that extension, he could easily get the JWT since I was storing it on localStorage, so it would prevent that (I do

[2019-07-13 17:48] LoicPoullain commented on #434
Sorry for the late reply. Here where the problem comes from:
- When we run the app (`npm run develop`, `npm start`), node executes the file `src/index.ts` as entry point. So with the `import 'module-alias/register';` at the beginning, root imports are properly resolved.
- When we execute `foal run <my-script>`, the CLI node process only `requires` the shell script file. It does not go through `src

[2019-07-13 19:15] yaaminu commented on #457
@LoicPoullain don't you think that this suggests that the best way to handle errors of these kinds is to write our own body parsing middleware? We could start with a well-known module like `body-parser`

[2019-07-14 21:27] #384 closed

[2019-07-15 08:22] LoicPoullain commented on #471
Nice trick.

Correct.

Maybe the `additionalProperties: false` can be annoying in case you want to add other cookies at some point.

Also in the new version 1, you can have a more concise code with this:
[code]

And you can also merge your hooks into a single one if needed:
[code]

I don't see a possible issue in this case. Even if your cookies are empty, you will end up with `Authorization: Beare

[2019-07-15 08:30] LoicPoullain opened #474 "[Sessions] Support MongoDB as session storage"
# Issue

We currently have `TypeORMStore` and `RedisStore` to store sessions in SQL and Redis databases. It is annoying for people using MongoDB with FoalTS. We should also support `MongoDB` session storage.

[2019-07-15 08:45] LoicPoullain commented on #457
`express.json()` uses `body-parser` under the hood. It is the only middleware that is included in ExpressJS by default.

FoalTS uses it internally but the error is not handled properly. It is a bug. It should be fixed in the next release. 👍

[2019-07-15 09:33] yaaminu commented on #457
Nice. Have you made the fix already or you're yet to?

[2019-07-16 08:36] LoicPoullain opened #475 "[Logger] Support the "none" option"
# Issue

FoalTS uses [morgan](https://www.npmjs.com/package/morgan) under the hood to log HTTP requests. We may want to disable this global logger in certain situations:
- when running E2E tests
  <img width="434" alt="github" src="https://user-images.githubusercontent.com/13604533/61278334-509e1500-a7b4-11e9-987d-f6e093cbbf04.png">
- when deploying the application to a Cloud provider which takes

[2019-07-16 09:03] LoicPoullain commented on #457
I'm already working on it. The issue covers a wider field than it seems at first glance. It points out that currently all middleware errors (400, 415 for charset, etc) return a 500 which is not the expected behavior. I need to look more closely at the content of middleware errors to make sure that the framework is not missing anything.

[2019-07-16 20:40] yaaminu commented on #475
@LoicPoullain Yes I will.

[2019-07-17 13:26] LoicPoullain opened #479 "Prettify the "500 error page" in development"
Currently the 500 error page in development is quite ugly. It would be nice to have something prettier (with a bit of CSS...)

<img width="978" alt="Capture d’écran 2019-07-17 à 15 17 33" src="https://user-images.githubusercontent.com/13604533/61378840-96d3a100-a8a6-11e9-95a5-3a7d29ad90a1.png">

If someone wants to take care of this, feel free to add a comment below and submit a PR!

*Note: In o

[2019-07-17 21:53] amylily1011 commented on #479
Hi @LoicPoullain

I'd like to contribute to foal development and since this is labelled 'good first issue', I think this could be a good issue for me. May I take it on?

Also, Is there any design document or brand like bible that would give me an idea of how to design the page?

[2019-07-18 09:16] LoicPoullain commented on #479
Hi @amylily1011

Thank you for your interest!

Yes, sure.

The idea would to add a *smooth* layer of css to make the page more presentable. Maybe a bit of colors, some divs, some font changes.

To get an idea, here what we have in other frameworks.

*rails*
<img width="922" alt="rails" src="https://user-images.githubusercontent.com/13604533/61444475-c7b9e180-a94b-11e9-8a01-719650f060eb.png">

*fla

[2019-07-18 09:58] kingdun3284 commented on #479
I want to do it , can you assign the task to me?

[2019-07-18 09:59] kingdun3284 opened #481 "Web socket support"
Is there any road map on supporting web socket? Or any suggested temporary solution for now?

[2019-07-18 11:19] rustamwin commented on #481
If do you want socket.io based - [socket-controllers](https://github.com/typestack/socket-controllers) ;)

[2019-07-18 11:50] amylily1011 commented on #479
I was planning to sketch out something but @kingdun3284, you can take this one :)

[2019-07-19 08:13] LoicPoullain commented on #475
Feature added in August release.

[2019-07-19 08:13] #475 closed

[2019-07-19 08:21] LoicPoullain commented on #479
@amylily1011  asked first to take this task. So if you still want it, you will have priority over this one. In the other case, I'll assign it to @kingdun3284 . Both are fine with me.

[2019-07-19 08:29] LoicPoullain commented on #481
We can add it in the roadmap (August release will focus on adding social auth though).

Websockets use a different protocol from http and so it will take some time to implement. The idea would to use the same `Context` object for controllers but with a different `Context.request` property. In this way, we will be able to keep hooks that use `ctx.user`, `ctx.session` and `ctx.state`.

I'll think on

[2019-07-19 08:37] LoicPoullain commented on #481
Ok so we could go with `socket.io` then. I'll take at look today on what can be done. 👍

[2019-07-19 08:50] LoicPoullain commented on #457
Fixed in v1.0.1 (published this week or the next one)

[2019-07-19 08:50] #457 closed

[2019-07-19 09:34] amylily1011 commented on #479
@LoicPoullain Thank for your reply. In that case, I'd like to take on this issue. I'll sketch out something based on your current color scheme with a UX message that differentiates the tone of language and you (or your team members) can review it and pick the one that makes the most sense to the product.

After that I'll submit a pull request for this page 👍

[2019-07-19 09:45] LoicPoullain commented on #479
@amylily1011 sounds great!

@kingdun3284 I'll open other "good first" issues in the next weeks if you want to take some 😉

[2019-07-19 09:46] squareloop1 opened #485 "express-rate-limit problem with CORS headers on API endpoints"
I came across some problems while using the rate limiter on API endpoints with CORS.

Basically you have to use the `express-rate-limit`'s  `handler` [function](https://github.com/nfriedly/express-rate-limit#handler) to set the headers, otherwise they don't get set at all because the response from the rate limiter doesn't get handled by FoalTS.

I am setting the headers FoalTS sets in its `createA

[2019-07-19 16:36] amylily1011 commented on #479
@LoicPoullain I just started setting up the dev environment with an example project. However, although I replaced `HttpResponseOK` calls with `HttpResponseInternalServerError` it still yields a normal HTTP page without any debug errors.

What would you do to reproduce the dev 500 error page? I'm starting the app with `npm run development`

[2019-07-19 18:03] LoicPoullain commented on #479
Why do you mean by *setting up the dev environment*? Did you create a new project with `foal createapp` or are you working on FoalTS' repository?

If you are on a new project, you can make the 500 error page show by throwing an error in the controller:

[code]

[2019-07-19 18:33] LoicPoullain commented on #481
A workaround could be this one:

*index.ts*
[code]

It's pretty ugly, but it's the only thing I can propose for now.

[2019-07-19 18:35] LoicPoullain commented on #481
Depending on the app you're creating, there is also the *polling technique* that can be a workaround.

[2019-07-19 19:41] LoicPoullain commented on #485
We won't be able to use FoalTS CORS hooks in this case. I'll take a look on Monday at which headers are needed  😉

[2019-07-20 04:19] kingdun3284 opened #486 "Swagger UI Dist Config"
Temporary solution:
...open-api.controller.ts
[code]
...your_custom_index_template/index.tpl.html
[code]
I think this is quite inconvenience now. Maybe we should add swaggerui option in the option of opneapi if we are still using swagger-ui-dist? Or maybe adding this tutorial to cookbook if nothing is gonna change in short time?

[2019-07-20 14:55] amylily1011 commented on #479
Hey @LoicPoullain ,

I just got the environment set up and played around with Foal. Below are some sketches I've made based on the resources I've found.

Take a look at the language, view components, and the placement of the logo and pick the one that fits with your preference the most. Then I'll create a PR for it :).

Version 1
![Type 1](https://user-images.githubusercontent.com/18423198/6158013

[2019-07-22 09:22] LoicPoullain commented on #485
Ok so, first, thank you for reporting this! We can assume that all FoalTS headers are required by default (even if some might be useless in this case: for example `X-XSS-Protection`). Do you want to submit a PR to update the doc?

If so:
- Could the CORS lines simply be replaced with this?
[code]
- Is there any particular reason why the `skip` option was added for `OPTIONS` requests?

In August re

[2019-07-22 09:28] LoicPoullain commented on #486
Thank you for reporting this!

If I understand well, you'd like to pass more options to `SwaggerUIBundle`. Can you give an example of the options you're adding?

[2019-07-22 09:38] kingdun3284 commented on #486
I added docExpansion:"none" only. Currently I override the get method of openapi controller that extends from swaggercontroller(from @foal/swagger) to render a custom index.tpl.html with different SwaggerUIBundle config. I think those configs of swaggeruibundle can be added to the options of swaggercontroller and dynamically render the index.tpl.html if we are still using swagger-ui-dist.

[2019-07-22 11:10] amylily1011 commented on #479
@LoicPoullain
Let me know which one you (and your team) decide to go with from the 3 versions above. I'll start working on it in the evening :-)

[2019-07-22 13:09] LoicPoullain commented on #479
Thank you for your proposals @amylily1011! They look better than the current page! I have a preference for version 3. :+1:

Regarding the content, the page that we are working on is only intended to be used in development (only developers will be able to see it). On production (`NODE_ENV=production`), end users will only see for now a message `500 - Internal Server Error` that gives no information

[2019-07-22 13:43] LoicPoullain commented on #486
Ok, I see. I took a look at the [Swagger documentation](https://swagger.io/docs/open-source-tools/swagger-ui/usage/configuration/) as well, most of the options can be "stringified".

Here how I see how to update to the `SwaggerController`:
[code]

To implement this, we need to:
- Update `index.tpl.html`.

[code]

- Update the files `index.*.spec.html` (that test template renders for each scenario)

[2019-07-22 15:06] LoicPoullain commented on #486
@kingdun3284 do you want to submit a PR or do you want me to do it? Both are fine with me.

[2019-07-23 02:05] kingdun3284 commented on #486
@LoicPoullain
I can try if you have no time. I don't want to pollute your code, haha :)

[2019-07-23 09:34] amylily1011 commented on #479
I merged it into branch `july-august` but there seems to be a problem not passing the test, which I don't think it has much to do with my modification since it's only in css and html, because the script tests something else.

Let me know if there is anything that I might have overlooked.

[2019-07-23 12:39] LoicPoullain commented on #479
Feature added in v1.1.0 (August Release). Thanks @amylily1011 ! Closing this.

[2019-07-23 12:39] #479 closed

[2019-07-23 16:24] squareloop1 commented on #485
Yes I can submit a PR to update the docs.

I am skipping Options requests to not count them into the rate limiter max requests. It made some problems on a API project with some low max request values. Should I add this to the Docs also?

Also you need the `Access-Control-Allow-Headers` of `GET,POST,PUT,PATCH,DELETE,OPTIONS` if you build a REST API to allow those methods in the preflight requests.

[2019-07-23 16:31] squareloop1 opened #488 "Problem with circular dependencies in services - Cannot read property 'isServiceManager' of undefined"
If we have two services which depend on each other, the `@dependencies` decorator doesn't seem to initialize the dependencies correctly:

[code]

It throws a runtime error: `TypeError: Cannot read property 'isServiceManager' of undefined`

Is this a bug or do I get the concept wrong somehow? If I do get it wrong, what could a workaround look like?

[2019-07-24 08:12] LoicPoullain commented on #488
I assume that the two services are located in different files that import each other. If so, one the references to `BService` or `AService` is undefined in one of the files. This is why there is an error at runtime.

The service manager is not designed to support circular dependencies. A workaround is to create a third service and move to this service the functions/attributes that are used both by

[2019-07-24 08:28] squareloop1 commented on #488
Yes, I guess that makes sense. Thank you!

[2019-07-24 08:28] #488 closed

[2019-07-24 08:29] LoicPoullain commented on #486
Don't worry! The PR does not require to add too much code. The two new tests are pretty much a copy-past of old ones as well as the new template specs. If you feel like to take it, I'll assign it to you.

`should properly render the template given options are { url: "xxx" } and uiOptions are { docExpansion:"none" }` inspired from `should properly render the template given options are { url: "xxx"

[2019-07-24 10:29] yaaminu commented on #474
@LoicPoullain what's the state of this issue? Is it being worked on?

[2019-07-24 11:54] LoicPoullain commented on #474
It can be added to August release. Do you need it?

[2019-07-24 12:17] LoicPoullain opened #490 "What do you like in FoalTS?"
Hello, everyone!

Version 1 is finally out and so I will be able to **do more communication** on the framework!

To do this, I need to know what *you* like/love about FoalTS. Are there any key features, design or concepts that are important to you? Did you try other frameworks before using Foal and why did you choose this one over another? And the last thing, how did you hear about FoalTS?

It wil

[2019-07-24 15:45] yaaminu commented on #474
By **do I need it**, are you saying **do I want to work on it?**

[2019-07-25 09:01] squareloop1 commented on #490
Hey Loic,
first of: You are doing an absolute fantastic work on this. Keep it up 👍

I am using Node.js mainly to create a REST or GraphQL API as the backend for a Vue / React SPA/PWA.
I used different frameworks before (express, nest, feathers) and now I am all in on FoalTS.

In my eyes a framework needs to make me as productive as I can possibly be and let me build clean, maintainable and scalabl

[2019-07-25 17:47] LoicPoullain commented on #485
Sorry for the late reply. I wanted to [read again](https://www.html5rocks.com/en/tutorials/cors/) on CORS and make some tests on different browsers (Firefox, Chrome, Edge, Safari) before replying back. I continue the conversion on the PR you opened.

[2019-07-26 09:39] c0ncentus commented on #490
Hi,
I didnt practice yet Foalts but i have newsletter about git activities ...

So I would love make with FoalTS my API  and my frontend app
keep the app more freedom as possible please 👍 .

Lisibility in foalTs is what I loooooooooovvvvve.

Do not please make like angular, it's suck 👎

[2019-07-26 11:42] LoicPoullain commented on #474
Oh, thank you for your proposal @yaaminu. I'd rather handle this one myself because it is a critical part of the framework's authentication system. Thanks anyway for your interest !

[2019-07-26 13:32] #389 closed

[2019-07-26 14:22] #485 closed

[2019-07-26 14:52] #434 closed

[2019-07-26 14:54] LoicPoullain commented on #434
Documentation added!

[2019-07-26 15:14] LoicPoullain opened #494 "Improve developper experience with scripts and migrations"
**Previous issue name**: Make "foal run" build and run the script

# Issue

As mentioned in #467, in development, it is tedious to always have to run `npm run build:scripts` before `foal run xxx`.

# ~~Solution~~

~~Add a configuration key `settings.scripts.autoBuild` which, when set to true, tells the `foal run` command to build the script before.~~

~~This behavior could be override with the fla

[2019-07-26 15:20] LoicPoullain commented on #494
Actually we have the same problem with the migrations.

[2019-07-26 16:07] LoicPoullain commented on #494
Maybe the simpler solution could be to just extend the `npm run develop` command to the directory `scripts` and `migrations`. So the scripts and migrations will be compiled each time a file is changed.

This would also remove `tsconfig` files (`tsconfig.migrations.json` and `tsconfig.scripts.json`).

[2019-07-26 16:16] tristan957 commented on #490
I just stumbled across this framework after being about 3 months into a NestJS application. I am very tempted to give this a try and use it in production to replace my NestJS app. I am probably gonna do it because honestly I am tired of the dependency injection errors in NestJS. This just looks absolutely amazing. I do have one suggestion. NestJS has a ValidatorPipe which performs the same functio

[2019-07-29 08:31] kingdun3284 commented on #490
I love foalts due to its simplicity and the philosophy behind it. Although the framework isn't mature enough(still not enough built in functions) for rapid prototyping and development, the simplicity
of its architecture makes it really easy to customize and merge with some already powerful framework and libraries.

[2019-07-29 12:11] LoicPoullain opened #496 "Safer config access"
# Issues

**1. Empty config values**

In some situations, we may want the `Config` class to throw an error if a configuration value is not specified. For example, when calling `Config.get` with `"mongodb.uri"`, we probably want to throw an error if we did not provide the database URI.

**2. Strict type checking**

The `Config.get` method coerces the configuration value when possible (for example `

[2019-07-29 13:15] LoicPoullain opened #497 "Config: support .env.testing and .env.e2e files"
# Issue

Currently, Foal's configuration system supports environment variables, the `.env` file and JSON and YAML files in the `config/` directory. In some situations, we may also want to have another uncommitted file `.env.testing` to store db credentials during testing.

# Solution

Support `.env.{NODE_ENV}` files

[2019-07-29 18:32] yaaminu commented on #474
Alright, I understand where you're coming from but could you not as well review the code after I submit it?

[2019-07-29 19:29] yaaminu commented on #497
@LoicPoullain I'm struggling to understand the utility of this since there's already a comprehensive way for adding configruations to a foal app. I suggest we stick to the existing approach and add a new `test.{yml|json}` file for test environments.

[2019-07-30 08:38] #486 closed

[2019-08-03 02:08] cocodrino opened #500 "any plan of support fastify"
foalTs seems great but something that I'd miss from nestjs is the support for fastify, fastify provides a great performance improve over express, do you have plan support this in a future?...maybe like an alternative framework base similar to nestjs?

thank you.

[2019-08-05 08:12] domzgarcia opened #501 "Cannot use migration using MariaDB, throwing invalid syntax"
I just run based on documentation:
`npm run build:migrations`
`npm run migration:run`

migration table created well, but todos and users are not created.

ormconfig.js
[code]

### Error occur

[code]

#### Found out that AUTO_INCREMENT transformed to AUTOINCREMENT. during compilation.

[2019-08-05 08:34] domzgarcia commented on #501
Sorry, just realized that this issue is from typeorm module.

[2019-08-05 08:34] #501 closed

[2019-08-05 10:46] LoicPoullain commented on #501
Happy that you found out! Yes, this issue is related to TypeORM library, not FoalTS 👍

[2019-08-05 10:50] LoicPoullain commented on #500
Hi Carlos,

Thank you for your interest!

In which situation do you find FoalTS/Express too slow? Do you have something in mind?

Thanks!

[2019-08-05 13:57] Fnxxxxo opened #502 "【Nuxt】Does Foal support Nuxt middleware?"
I try integrating Nuxt with Foal, using Foal starter like
[code]
But it results in 404 for the index route. It seems the controller close the stream if no method is matched. Only /api is available. Are any suggestion or demo ?

[2019-08-06 08:20] LoicPoullain commented on #497
This will allow us to split sensitive information and simple settings in two different files if we want to (one committed and the other not). There is no obligation to use this approach and we will still be able to only use `test.{yml|json}` files if we prefer.

Another use case can be to start the app with our production DB. For example, by adding a `.env.production` file with the credentials and

[2019-08-06 08:41] LoicPoullain commented on #400
Hi @spontoreau

I hope you're doing well.

I've thought a lot about this feature. There are many pros and cons to implement it and I think there is no absolute answer on this. I'd rather not to add it in Foal to keep the framework as simple as possible and not to make it have an architecture like Nest/C#/Java. This is why I'm going to close this issue.

Thank you anyway for this proposal. It was r

[2019-08-06 08:41] #400 closed

[2019-08-06 10:38] domzgarcia commented on #474
Hi, I just encounter the same issue, integrating mongoose-store on this framework for session support. I'm using windows 10. I found a problem in Windows SDK, Kerberos telling `Cannot find module 'mongodb/node_modules/bson` I don't actually point out the of source the problem. Maybe due to versions of MongoDB? Hope you'll not encounter the same.

Anyways, I am excited for the complete support of M

[2019-08-06 10:45] yaaminu commented on #474
@domzgarcia I suspect this is because the `bson` module hasn't been installed due to one or two reasons. Can you share the error messages here? That would be very helpful in diagnosing the issue.

[2019-08-06 10:58] domzgarcia commented on #474
[code]

[2019-08-06 11:08] domzgarcia commented on #474
@yaaminu  here you go.
`
C:\Users\COMPUTERNAME\Desktop\New folder\node_modules\bson>if not defined npm_config_node_gyp (node "C:\Users\COMPUTERNAME\AppData\Roaming\npm\node_modules\npm\node_modules\npm-lifecycle\node-gyp-bin\\..\..\node_modules\node-gyp\bin\node-gyp.js" rebuild )  else (node "C:\Users\COMPUTERNAME\AppData\Roaming\npm\node_modules\npm\node_modules\node-gyp\bin\node-gyp.js" rebuild

[2019-08-06 12:41] yaaminu commented on #474
@domzgarcia from the error log, you don't have the c++ sdk (aka mvc toolchain) for building node.js native modules on your system. Normally, installing [Visual studio](https://visualstudio.microsoft.com/) should fix this issue. The community edition will work fine.

This [npm module](https://github.com/felixrieseberg/windows-build-tools) purports to install the `mvc toolchain` with a single comman

[2019-08-06 21:08] spontoreau commented on #400
Ok, I understand!

Also it's really not an easy feature to add in Foal.

[2019-08-07 03:41] domzgarcia commented on #384
it works now! I don't get any error regarding bson.

Although, I try to check Contex(ctx) in the controller method. It gives me undefined/empty object in these properties.
`console.log('[session]', ctx.session, ctx.user, ctx.state);` // [session] undefined undefined {}

[2019-08-07 03:43] domzgarcia commented on #474
it works! I don't get any error regarding bson.

Although, my next concern is, I try to check Contex(ctx) in the controller method. It gives me undefined/empty object in these properties.
`console.log('[session]', ctx.session, ctx.user, ctx.state);` // [session] undefined undefined {}

### setup
[code]

[2019-08-07 10:12] yaaminu commented on #474
**Important!**
I'm assuming that your clients are  sending the session token either via the `Authorization` header or cookies as described in the [documentation](https://www.npmjs.com/package/express-session)

You seem to be doing everything correctly regarding the session store setup. You are getting undefined because `foal` doesn't support mongodb session store natively. You have to use the old

[2019-08-07 10:28] yaaminu commented on #490
I like foalts because:

- Simple, flexible and straightforward architecture
- Great documentation
- Written in Typescript

[2019-08-08 08:24] kingdun3284 opened #503 "validate-params hook, open api spec auto generation problem"
[code]
<img width="268" alt="Capture" src="https://user-images.githubusercontent.com/6995317/62687206-dfd7ca80-b9f8-11e9-8e27-2897c92ccd40.PNG">
<img width="376" alt="Capture2" src="https://user-images.githubusercontent.com/6995317/62687210-e1a18e00-b9f8-11e9-940e-baba2a8b7181.PNG">

If only one item is added, it will not pass the validation and treat it not as an array.

[2019-08-08 09:45] LoicPoullain commented on #502
Hi @Fnxxxxo

Sorry for the late reply. This is not working because `createApp` takes care of returning 404 and 500 errors before `app.use(nuxt.render)` gets called.

Correct.

Currently, there is no quick solution to make it work. Nuxt.js seems a great framework, as well as Next, and we should definitively have an easy way to integrate them with Foal.

I'll think how to have a clean and straightfo

[2019-08-08 10:05] LoicPoullain commented on #474
@yaaminu Thank you for helping @domzgarcia  on this issue.

As Amin mentioned, Foal's authentication system and session management do not rely on the `express-session` middleware. Express is actually only used as a very low level as primitive base layer of FoalTS.

I'm currently working on MongoDB support and the PR will probably be merged in the August release so as you can use it.

I'm taking so

[2019-08-08 10:20] LoicPoullain commented on #503
It may be related to how Express parses query params or to how OpenAPI spec may differ from JSON schema spec. I'll need more information on this.

Can you give me another example (which is working) with several items and take a screenshot as well of what you specify in Swagger?

Also, for both examples (one vs many), can you copy the actual URLs that the server receives?

[2019-08-08 12:00] domzgarcia commented on #474
yeah exactly @yaaminu
https://github.com/domzgarcia/foalts-sql-nosql-implem/blob/master/mongotodos/templates/index.html#L64

thanks, guys! Appreciate the effort. Will be waiting on the MongoDB support!

Thanks, @LoicPoullain your works are awesome!

[2019-08-08 13:55] TekinGomes37 opened #504 "Deploy an application"
I would like to know how to publish a foal app, or node in general (HTTPS). In the documentation does not speak much.

[2019-08-09 02:13] Fnxxxxo commented on #502
@LoicPoullain That would be a great enterprise SSR solution for the Vue community.

[2019-08-09 02:52] elshazer commented on #502
I have always generated static sites with nuxt js
I recommend using `$ nuxt generate`

In the file frontend `nuxt.config.js` add
[code]

Also I suggest you using axios
https://axios.nuxtjs.org/options#proxy

[2019-08-09 04:12] kingdun3284 commented on #503
[code]
![Capture3](https://user-images.githubusercontent.com/6995317/62753539-b40f2000-ba9e-11e9-8d48-e112eaa02b76.PNG)
![Capture4](https://user-images.githubusercontent.com/6995317/62753541-b5d8e380-ba9e-11e9-80dd-f7a444a22b47.PNG)

I agree, it should be how OpenAPI spec may differ from JSON schema spec.

[2019-08-09 21:53] OrkhanAlikhanov opened #505 "Please default response to `HttpResponseOK`."
It's only 10 mins that I am wandering around this framework. Everything seems solid as I wanted. But one thing is pretty ugly. It's so ugly that I feel forced to create an issue. Please wrap returned value in `HttpResponseOK` if it (the returned value) is not instance of root response class (whatever `HttpResponseOK` ultimately inherits from)

Instead of
[code]
I'd like to write simply:
[code]

[2019-08-09 23:24] OrkhanAlikhanov opened #507 "Map ctx.request.params to corresponding method parameters"
It would be great if we could map `ctx.request.params` to same named method arguments:
[code]

It would be better if we could map them irrespective of order, based on names.

[2019-08-10 22:05] OrkhanAlikhanov opened #509 "No way to configure express.static"
I'd like to disable default index.html serving on route `/` and serve html through rendering. This is possible by passing `{ index: false }` to `options` of `express.static(path, options)`. There seems to be no way to do that:

https://github.com/FoalTS/foal/blob/647ea2da8d8f8176710215c691647e302f346b55/packages/core/src/express/create-app.ts#L47

[2019-08-10 23:50] OrkhanAlikhanov opened #510 "How to query all sessions of a user?"
Let's say I've used `TypeORMStore` for sessions, how can I query all sessions of a user? The `userId` seems to be stored in a json string in `sessionContent` column.
https://github.com/FoalTS/foal/blob/647ea2da8d8f8176710215c691647e302f346b55/packages/typeorm/src/typeorm-store.service.ts#L30-L37

There seems no reliable and easy way to query a user's sessions. It would be great if could store `use

[2019-08-10 23:53] OrkhanAlikhanov commented on #510
Mature frameworks like `Laravel` should be taken as an example in this session management regard as they seem to be battle tested. No pressure, just sayin' :)

[2019-08-12 04:26] OrkhanAlikhanov commented on #504
Did you see https://foalts.gitbook.io/docs/topic-guides/cloud/aws-beanstalk?

[2019-08-12 05:56] kingdun3284 opened #511 "Validate query hook doesn't not accept function"
As the title said

[2019-08-12 07:25] TekinGomes37 commented on #504
I saw, but it is with AWS and firebase, I would like to deploy normal, without going through these cloud services, for example how to deploy with nginx.

[2019-08-12 08:25] TekinGomes37 commented on #505
I do not find ugly, everything, because like that, it's clear as "bonjour", if we want to return a HttpResponseOk (), HttpResponseCreated (), HttpResponseBadRequest ({"message": "best ^^"]).

[2019-08-12 09:12] OrkhanAlikhanov commented on #505
Yeah, to add some syntactic sugar to the framework, one of the responses should be default, and I think mostly `HttpResponseOk` is returned from an endpoint.

[2019-08-12 13:10] LoicPoullain commented on #503
In this case, the problem comes from how Express creates the `query` object:

- `?a=3` => `query === { a: '3' }`
- `?a=3&a=2` => `query === { a: ['3', '2'] }`

The `@ValidateQuery` hook just validates the created `query` object against the given schema.

One way to get around this could be to add another hook before:
[code]

[2019-08-12 13:46] LoicPoullain commented on #504
Hi @TekinGomes37,

Thank you for your interest in FoalTS!

https://foalts.gitbook.io/docs/topic-guides/deployment-and-environments/ship-to-production

Does this help? Have you also considered using another cloud provider such as Heroku?

The documentation does not have a tutorial on how to deploying a FoalTS application to a simple vm because there is no *simple answer* on this. Using a PaaS solut

[2019-08-12 14:19] LoicPoullain commented on #510
Hi @OrkhanAlikhanov,

Thank you for submitting this issue.

Indeed it is currently not possible. This is definitely a feature that is missing in the framework and that will be added in the future. In a next release, we will be able to retrieve (and even limit) the session(s) of a given user. The solution will be compatible with any session store (including cache database such as redis).

I'll take

[2019-08-12 14:20] LoicPoullain commented on #509
Why not simply delete the `index.html` file?

[2019-08-12 14:23] LoicPoullain commented on #511
In which situation would you like to have a function instead of a simple object?

[2019-08-12 14:26] OrkhanAlikhanov commented on #510
Amazing!

Here is the table that Laravel uses for DB store. From [docs](https://laravel.com/docs/5.8/session#driver-prerequisites)
[code]

I believe `ip_address` is used to throttle login attempts (as a default feature), not sure how they use `user_agent` internally, and finally `payload` is equivalent of foal's `session_content` column. All session stuff is nicely organized in [Sessions](https://

[2019-08-12 14:30] OrkhanAlikhanov commented on #509
Well, I was rendering on top of it like `return render('./public/index/html', { payload })`. Never thought about renaming `index.html` file 🤔 Sounds like it would work. Thank you!

<sup>You can close this if you want</sup>

[2019-08-12 14:42] LoicPoullain commented on #509
👍

Usually, templates would be placed in a separate directory `templates/` at the root of your project or next to your controllers. `public/` should only contain static files.

*Example 1 (root directory)*
[code]

[code]

*Example 2 (`controllers/` directory)*
[code]

[code]

[2019-08-12 14:42] #509 closed

[2019-08-12 14:45] karanacharekar opened #512 "Passport Js OAuth"
Hi ! I am trying to setup passport-google-auth in my foalTs project. Is there any sample code available out there ?

[2019-08-12 14:49] LoicPoullain commented on #512
Hi @karanacharekar,

Thank your for your interest!

Passport cannot be used with FoalTS. I'm currently working on social authentication: #125. We will be able to log in with Google in a next release :wink:

[2019-08-12 14:49] #512 closed

[2019-08-12 14:54] kingdun3284 commented on #511
I think it should be kept consistency? As most of the hooks accept function after the june release

[2019-08-12 14:55] LoicPoullain commented on #505
I need to think about this and see all the implications this might involve. In the meantime, if it is relevant, you can also use the function below to reduce the length of the code.

[code]

[2019-08-12 14:58] OrkhanAlikhanov commented on #125
Might be useful for if you take a look at https://github.com/laravel/socialite.

I wouldn't call myself a laravel fan, I've just used. I can say that it's more than 5 years that it's actively being developed and used by many. I consider laravel well designed and robust framework. Foal can benefit from the good that laravel has :)

[2019-08-12 15:19] LoicPoullain commented on #511
Oh, do you mean a function to access the controller instance? If so, it is not possible *by design* (this is why `@ValidateQueryParam`, `@ValidatePathParam`, `@ValidateCookie` and `@ValidateHeader` were introduced). I don't remember why, but we were stuck because of the architecture of FoalTS and the way the `ValidateQuery` hook definition differs from the "philosophy" of OpenAPI specification.

[2019-08-13 09:24] #511 closed

[2019-08-14 09:14] OrkhanAlikhanov commented on #505
Again laravel does that :]. See https://laravel.com/docs/5.8/responses

<sup>You might've already fed up hearing laravel from me lol</sup>

[2019-08-15 08:48] Fnxxxxo commented on #502
@elshazer I am developing a CMS client which use dynamic routes. So static generating is hard to implement for me.

[2019-08-17 02:42] #503 closed

[2019-08-19 07:52] LoicPoullain commented on #507
Thank you for suggesting this issue @OrkhanAlikhanov .

I had many issues in previous coding experiences when managing method parameters based on names. They are supposed to be dummy variables and are often treated as is during compilation or code minifying, causing the app to fail.

From what I understand, the point here would be not to write every the time the whole `ctx.request.params.id` to ke

[2019-08-19 07:58] #504 closed

[2019-08-19 10:59] OrkhanAlikhanov commented on #507
Well, we can make it completely minification proof if we pass params in order. We can infer param names from path (`/:id/:name/:value`) and pass them to the method in order like:

[code]

What do you think?

[2019-08-19 13:40] squareloop1 opened #516 "DI service not available in constructor"
I need to initialize a websocket listener and want to do it in the constructor of the main AppController:

[code]

It seems like the service is not yet injected at the time I call it in the constructor. Is there a common approach on how to handle this with DI in FoalTS?

[2019-08-20 08:21] LoicPoullain commented on #507
Interesting. This would solve the naming issue indeed. But in this case, Foal will have to manually parse the path  `/:id/:name/:value` to know the parameters which is already done under the hood by Express.

This may also generate conflicts in large apps with many sub-controllers (see example below).
[code]

Maybe we could also pass the `params` object as second (optional) argument and take advan

[2019-08-20 08:30] LoicPoullain commented on #516
Correct.

For now, you can do it in `src/index.ts` by retrieving the service like this:

[code]

This is pretty ugly, but may it solve your issue in this case?

For the future, I was thinking of adding an `init` method in the `AppController` (or even in each service) that would be called after instantiations and DI. If the method does not exist, no error would be thrown. This way, it would also ma

[2019-08-20 09:01] OrkhanAlikhanov commented on #507
Amazing idea! That eliminates lots of maintenance and reliability headache

[2019-08-20 09:05] squareloop1 commented on #516
Yes, the approach in `src/index.ts` seems to work for now. I am using the services in other parts of the application too with the standard dependency injection approach. Will FoalTS handle the created services in `src/index.ts` as singletons anyway?

The init method would be nice to be able to do some stuff outside of the normal controller routing.

[2019-08-20 09:05] LoicPoullain commented on #507
The `query` could also be given like this:

[code]

[2019-08-20 09:08] LoicPoullain commented on #516
Yes. `services.get` does not re-instanciate the services. It fetches the singletons in the same way as you would do with `@dependency`.

[2019-08-20 09:11] LoicPoullain commented on #516
Even if a controller is not a service, you can also still retrieve the same way.

[code]

[code]

[2019-08-20 09:13] squareloop1 commented on #516
Ok, great! Thanks alot, this seems to work for now.

[2019-08-20 09:13] #516 closed

[2019-08-20 09:17] OrkhanAlikhanov commented on #507
It would be great to have a config file to configure order of those params. Kindof a js config file where we can define a method to return array of method arguments  to be passed to controller functions, defaulting to [ctx, ctx.request.params, ctx.request.query, ctx.request.body]

[2019-08-20 09:17] LoicPoullain opened #517 "Add an `init` method in `AppController` to initialize the app"
# Issue

In many situations, we need to make some initialization when starting the server (for example establishing a connection to another server).

For now, we can do it `src/index.ts` but it is not very handy to access the app services using DI.

[code]

# Related issue

#516

[2019-08-20 09:21] LoicPoullain commented on #517
# Possible Solution

Add an optional `init` method in the `AppController` that will be called after the services and controllers have been instantiated.

[code]

For backward compatibility on version 1 (people might have already a method named `init` here), the feature would be disabled by default and should be enabled using a configuration key in `config/`.

[2019-08-21 16:04] LoicPoullain opened #518 "Tutorial : SPA+API"
# Issue

We currently have a tutorial that shows how to use authentication to create a multi-user todo list. This tutorial explains how to do it in an « old school » way using templates and server-side rendering (techniques that might still be relevant in some applications). Many full stack applications, however, are nowdays based on a SPA+API architecture where the routing, pages and guards are c

[2019-08-21 16:06] LoicPoullain opened #519 "Tutorial : OpenAPI & Swagger UI"
# Issue

FoalTS offers a large set of components to integrate OpenAPI  & Swagger UI in our applications. There is a dedicated page in the documentation for this but no real OpenAPI / Swagger UI tutorial to see how to use it in a concrete project and the value it might provide.

# Solution

Add a new tutorial that shows how to create and document a REST API. This tutorial should use authentication

[2019-08-21 16:07] LoicPoullain opened #520 "Tutorial : GraphQL Simple To-Do List"
# Issue

FoalTS offers a large set of components to use GraphQL in our applications. There is a dedicated page in the documentation for this but no real GraphQL tutorial to see how to use it in a concrete project and the value it might provide.

# Solution

Add a new tutorial similar to the [Simple To-Do List]() tutorial but which uses GraphQL for the API.

# Related issue

#378

[2019-08-22 12:07] LoicPoullain opened #521 "Sessions : support flash data"
# Issue

Sometimes we may wish to store items in the session only for the next request.

For example, when users enter wrong credentials, they are redirected to the login page again, and we may want this time to render the page  with a specific message that says "Incorrect email or password". If the user refreshes the page, the message then disappears.

# External links

https://laravel.com/docs/5

[2019-08-22 12:11] LoicPoullain opened #522 "Add examples in the doc about how to configure Foal with MySQL / PostgreSQL"
Maybe something like this:

[code]

*ormconfig.js*
[code]

*config/default.json*

[code]

*config/test.json*
[code]

*config/e2e.json*
[code]

*.env*
[code]

[2019-08-23 09:20] LoicPoullain opened #523 "Base64-encoding option for JWT secrets."
# Issue

By default, FoalTS JWT hooks decode JWT secrets using UTF-8. We should have an option to decode these secrets using base64 since `foal createsecret` generates base64-encoded keys.

# Solution

Add a new option in the config to do that.
[code]

# Implementation

Just add a `Buffer.from(secret, 'base64')` and a `Config.get` in the hook.

# External link

https://github.com/auth0/node-jsonwe

[2019-08-24 19:54] OrkhanAlikhanov opened #525 "Remembering users?"
Although the framework provides authenticating and fetching user from database, it seems to miss `remember me` functionality. Would be great if there was a built-in way to do this.

Laravel provides a layer called `Auth` for authenticating user and dealing with its state even permission gates. Again, I am not forcing anybody to follow laravel in every step, but there are proven benefits on their a

[2019-08-29 16:13] squareloop1 opened #526 "How to test a post hook function?"
How can post-hook functions be tested? I have a hook transforming my response. I would like to test the transformed response and its contents.

Maybe this is a good addition for the docs?

[2019-09-01 08:43] sgronblo opened #527 "Community/chat channel for this project"
Is there some gitter, slack, irc channel, etc for this project?

[2019-09-01 08:56] squareloop1 commented on #527
Afaik there is none yet. But it would be very nice.

[2019-09-01 13:43] sgronblo commented on #527
Wouldn't it be super trivial to set up a gitter room?

[2019-09-01 22:10] silentworks opened #528 "npm run develop gives TS Error about excessive stack depth"
I get the error below when I run `npm run develop` on a fresh project setup.

It turns out the issue is related to the latest Typescript, but I though I would open this here so that others are aware if they should run into this issue.

https://github.com/typeorm/typeorm/issues/3194

![Screenshot 2019-09-01 14 14 53](https://user-images.githubusercontent.com/79497/64082812-ae56d400-cd04-11e9-9afa-b

[2019-09-02 06:40] webcoderkz commented on #490
Would like to see more maintainers, because @LoicPoullain can't do everything alone.

[2019-09-02 07:01] LoicPoullain commented on #525
This is a valid issue. Thank you for raising it!

I'm moving this to the `To-Do` list.

In the meantime, it is possible to simulate a "remember me" feature that will apply to *all* users by extending the timeouts values (for example by specifying *a year* as value): https://github.com/FoalTS/foal/blob/master/docs/authentication-and-access-control/session-tokens.md#session-expiration-timeouts

[2019-09-02 07:10] LoicPoullain commented on #526
Yes, the documentation is missing an example on this one. Here is how to do that:

[code]

[2019-09-02 07:16] webcoderkz commented on #528
lol, i just decided to give a try to this framework, and even `npm run develop` didn't work, nice start.

[2019-09-02 07:20] OrkhanAlikhanov commented on #528
https://github.com/typeorm/typeorm/issues/3194#issuecomment-526037271

Try this solution. Should work.

[2019-09-02 07:45] webcoderkz commented on #528
@OrkhanAlikhanov turning an error off - worked, but would they actually fix it?

[2019-09-02 07:46] #526 closed

[2019-09-02 07:48] OrkhanAlikhanov commented on #528
That's actually issue of typeorm. There is nothing to do on foalts part (except maybe shipping with previous version of typescript), wait for typeorm to fix it I'd say

[2019-09-02 07:50] webcoderkz commented on #528
As i understand from an error text, it is related to a mongo, right?

[2019-09-02 08:04] webcoderkz opened #530 "Is there a router file?"
For example, if i want to use SSR templates (render views from backend), do i use decorators in a controller to create a routes?, there's not a single place with all routes?

[2019-09-02 08:05] LoicPoullain commented on #527
Sounds like a good idea. Any preference on the channel to use? I feel like Slack is much more simpler to understand and use (especially on small screen) than Gitter.

[2019-09-02 08:11] rustamwin commented on #527
Slack is good choice

[2019-09-02 08:58] OrkhanAlikhanov commented on #530
If you want to capture all get routes, just use '*':
[code]

[2019-09-02 09:00] OrkhanAlikhanov commented on #527
Slack is great, you'll have to set up an auto-inviter though. Like this: https://github.com/outsideris/slack-invite-automation

[2019-09-02 09:07] LoicPoullain commented on #528
Thank you for reporting this @silentworks and for providing support @OrkhanAlikhanov .

As Orkhan said, this issue is specific to TypeORM (which supports MongoDB, hence this message) and we will need TypeORM team to fix it before using TS@3.6.

However it is possible to downgrade to version `3.5` simply with `npm i typescript@3.5`.

This is not the first time that we had such an issue when a new T

[2019-09-02 09:18] LoicPoullain commented on #530
There is no "router file" but you can organize your controllers as follows for SSR:

[code]

[code]

If you want to specify all your routes in one place (the `app.controller.ts` file), then you'll have to create a controller for each of your route.

[code]

[code]

[2019-09-02 09:24] LoicPoullain commented on #528
Fixed in version 1.1.0 (released soon).

[2019-09-02 09:24] #528 closed

[2019-09-02 09:42] sgronblo commented on #527
I usually prefer Gitter. It’s frustrating to have to add yet another slack just to get in touch with a projects maintainers.

[2019-09-02 10:59] silentworks commented on #527
I am fine with Slack or Discord.

[2019-09-02 11:00] squareloop1 commented on #527
Discord would be a nice alternative to Slack too. Many other libraries and frameworks use it too.

[2019-09-02 11:32] kingdun3284 opened #532 "Please update the ajv version of @foal/core"
I want to use the feature of "nullable:true" from ajv and I found that it is not supported in version 6.5.0 which foal/core is using now.

[2019-09-02 12:54] sgronblo commented on #527
I would prefer Discord to Slack, since you can at least join that freely.

[2019-09-02 12:55] kingdun3284 commented on #527
Prefer discord more than slack.

[2019-09-02 20:53] OrkhanAlikhanov commented on #507
I think having a `transformCtxToParams` method per controller would give more control for us.
More eloquent name would be desirable.

[code]
I think inheritance should not affect in this case and the array returned from `transformCtxToParams` or default `[ctx]` should be used in calling endpoint methods:
[code]
-------

Alternatively a metadata on `ctx` object could be written using hooks where fo

[2019-09-02 22:12] OrkhanAlikhanov opened #533 "Hiding properties from JSON"
## The problem
[code]

Currently, when we return an instance of the above entity (or anything that contains it) from an API endpoint the entire model gets serialized into something like:
[code]

The last 3 fields must not be inside json. We can of course create a new object and return it but there should be a better solution in general. Does foalts have something to offer in this case?

## Workaro

[2019-09-03 05:12] sgronblo opened #534 "Handle promise rejections in main"
The main function of https://github.com/FoalTS/foal/blob/dd968471881ed7c225b7e72e49bc4f8ed150cef6/packages/examples/src/index.ts#L31 is run without handlers.

This means that an unhandled version is still reported with exit code 0 for current versions of node. There is a message saying: [DEP0018] DeprecationWarning: Unhandled promise rejections are deprecated. In the future, promise rejections tha

[2019-09-03 05:23] sgronblo commented on #527
Anyway, I think this project seems promising but it would be great if there was any kind of chat channel for now to ask questions about the project directly.

[2019-09-04 06:39] squareloop1 commented on #533
You can set a TypeORM configuration on the column like this:
[code]

[2019-09-04 07:16] OrkhanAlikhanov commented on #533
Hey! Thank you for your suggestion! I already have a working workaround. Also I want the column to be selected from database.

[2019-09-04 07:26] squareloop1 commented on #533
Yes I agree, its a bit unconvenient. You have to built a custom query with `.addSelect('password')` to get the columns with `{ select: false }` from the database.

[2019-09-05 06:09] sgronblo commented on #527
My preference would be:

1. Gitter
2. Discord
3. IRC
4. Slack

Seems like Discord has the most votes so far. Could some maintainer make this happen?

[2019-09-05 10:00] LoicPoullain commented on #527
Ok so I took a look at the different solutions to choose one. The idea would be to have something that is easy to join, to use/read and where syntax highlighting is handled nicely (for sharing code).

1. **Gitter** lets us read conversions publicly and its signup/login system with Github makes things really simple to join the chat. However, IMO the interface is not really user-friendly and I find

[2019-09-05 10:05] squareloop1 commented on #527
Nice. Thank you.

Can't say anything about the other options, but I know there are a lot of dev communites and libraries on Discord. Some of them even switched to Discord from Slack (i think because of the user limits, its free and unlimited chat history).

For example some channels that may be interesting:
Vue Land
Vuetify / Buefy
SpeakJS
Devcord

[2019-09-05 12:34] LoicPoullain commented on #527
Thanks @squareloop1!

[2019-09-05 12:43] LoicPoullain commented on #527
The invitation link is on the README page. Closing this.

[2019-09-05 12:43] #527 closed

[2019-09-06 16:23] LoicPoullain commented on #532
Foal uses version 6.5 or greater (6.6, 6.7, etc). Can you try `npm install ajv`? It should install version 6.10. If this does not work, delete your `node_modules/` directory and your `package-lock.json` and reinstall them with `npm install`

[2019-09-06 16:40] LoicPoullain commented on #534
Thank you for reporting this @sgronblo! It's true that this infinite loop is really annoying.

New projects will have this new line added 👍

[2019-09-06 17:07] LoicPoullain commented on #534
Fixed in v1.1.0

[2019-09-06 17:07] #534 closed

[2019-09-09 09:09] LoicPoullain commented on #388
Closing this for now. Some developers already migrating their Express app to FoalTS without needing additional doc.  Feel free to re-open this issue if you need more help.

[2019-09-09 09:09] #388 closed

[2019-09-09 12:37] pdeak commented on #475
Am I the only one having the following issue with this option: When I set settings.loggerFormat to "none", I literally get the word "none" logged to the console over and over, for every logging attempt. So rather than turning off logging it still logs every single time, but it simple logs the word none.

To verify that I'm not going crazy, I can change that config to "tiny" or any other format sup

[2019-09-10 10:35] #378 closed

[2019-09-10 10:35] #402 closed

[2019-09-10 12:41] kingdun3284 commented on #532
I have found the problem, it's because of foal's config not reading the extra setting of ajv. This is my setting. How to solve it then?
[code]

[2019-09-10 16:55] LoicPoullain commented on #532
I opened a PR to fix that. Version 1.1.0 will be released this week.

[2019-09-11 05:04] sam-gronblom-rj opened #538 "Injecting repository instances into services"
If this is already possible it would be nice to have a mention of it in the docs.

I am currently trying out Foal and trying to set up integration testing that would rely on a database. I want to run the database in Docker so that I don't need to worry about how to clear out the database. I will just spin up a completely new db container for each test case. This would also allow for running tests

[2019-09-11 09:53] LoicPoullain commented on #474
Feature added in v1.1.0

[2019-09-11 09:53] #474 closed

[2019-09-11 09:53] LoicPoullain commented on #532
Feature added in v1.1.0

[2019-09-11 09:53] #532 closed

[2019-09-11 10:03] LoicPoullain commented on #502
Feature added in v1.1.0

[2019-09-11 10:03] #502 closed

[2019-09-11 10:52] OrkhanAlikhanov commented on #538
You can try following:

_**index.ts**_
[code]

[2019-09-13 14:24] pdeak commented on #370
Just wondering, is there any workaround or hacky way to achieve a global exception handler across the app controller?

While prettifying error pages during development is nice, it's even more important for us that we can customize the default HTTP 500 page and add some additional behavior when such an unexpected error occurs.

[2019-09-16 08:01] LoicPoullain commented on #370
Yes it is possible. One hacky solution to do it is to specify a "post" Express middleware to the `createApp` function in `src/index.ts`.

[code]

[2019-09-16 08:04] LoicPoullain commented on #370
Can you also give me an example of this? This will help me design something nice to handler properly errors in the future.

[2019-09-16 08:08] pdeak commented on #370
@LoicPoullain The solution you posted above seems pretty good to me, and not even that hacky!

Basically, the two things we would have in a global error handler is to respond with a customized JSON payload, and to amend the logging of that error to indicate that it is in the context of the global catch-all handler.

[2019-09-16 08:12] LoicPoullain commented on #370
Thanks!

[2019-09-16 08:15] pdeak commented on #370
@LoicPoullain Actually, just a slight issue for us. We have to use a custom express instance for createApp, and the second parameter to createApp is expressInstanceOrOptions?: ExpressApplication | ExpressOptions. We would need a 3 parameter version of createApp which supports a custom express instance AND postMiddlewares.

[2019-09-16 08:24] LoicPoullain commented on #370
Could you use preMiddlewares?

[code]

If not, I can extend `ExpressOptions` this way (but you will have to wait until the end of the week or next week):
[code]

[2019-09-16 08:29] pdeak commented on #370
Great thanks. I don't think preMiddlewares works because we want to catch errors in the chain exactly where the postMiddlewares is added: after all the other FoalTS middlewares, but before FoalTS's own notFound() and handleErrors() error handlers.

[2019-09-16 08:44] LoicPoullain commented on #370
I'm not sure to understand your point here.

The architecture under the hood is pretty much like this:
[code]

So error thrown in FoalTSMiddleware or preMiddleware1/2 are handled exactly the same

[2019-09-16 09:14] pdeak commented on #370
But the global exception handler that we introduce needs to catch errors generated in FoalTSMiddleware too, so it has to be below it. It's main purpose is to catch all unexpected errors in our controllers, and the controllers are processed in FoalTSMiddleware presumably?

[2019-09-18 13:00] LoicPoullain commented on #370
It does.

If you specify an error middleware (i.e. a function of this form `(err, req, res, next)=>{}`) in the `postMiddlewares` array, it will "catch" errors generated in your pre-middlewares as well as errors thrown/rejected in your hooks and controllers;

[2019-09-18 14:00] LoicPoullain commented on #538
With version 1.2.0 and its new `AppController.init` method, you will be able to create a service to inject TypeORM connection. This way, it will be possible to use DI for the connection during testing.

[code]

[code]

[code]

[code]

[2019-09-19 05:42] pdeak commented on #370
Yep, postMiddleware is perfect for my use case. I was just stating that preMiddleware wouldn't work for a global error handler. Basically in my case I just need a postMiddleware and the ability to use a custom express instance.

[2019-09-23 08:45] Fredy22 opened #548 "@foal/typeorm fetchUser class add the ObjectID type in parameters and returns"
The ObjectID type is missing in the fetchUser class, for the mangodb database with typeorm

[2019-09-26 06:55] LoicPoullain commented on #517
Feature added in v1.2.0

[2019-09-26 06:55] #517 closed

[2019-09-26 06:55] LoicPoullain commented on #460
Package added in v1.2.0

[2019-09-26 06:55] #460 closed

[2019-10-01 07:42] LoicPoullain commented on #530
I'm closing this issue since it seems to have been answered. Feel free to reopen it if it is not the case.

[2019-10-01 07:42] #530 closed

[2019-10-01 07:43] LoicPoullain commented on #538
I'm closing this issue since v1.2.0 has been released. Feel free reopen it if this is still a problem for you.

[2019-10-01 07:43] #538 closed

[2019-10-01 18:53] ibnIrshad opened #549 "Feature Request: hashPassword and verifyPassword should offer support for salting"
Passwords should not just be hashed, but ideally also salted. The built-in password auth scheme in FoalTS should support it with an additional saltString parameter.

[2019-10-08 17:08] yosbelms commented on #490
I like it because, it is simple, TypeScript, TypeORM, documentation is great, makes me productive.

@webcoderkz I can be a maintainer if the community agree. I'm planning to use this framework in my next big project, so I have enough reason to help polishing.

cc @LoicPoullain.

[2019-10-08 17:26] yosbelms commented on #533
I think the solution from @squareloop1 is great, another one could be, to write custom `toJSON` method like the following:
[code]

With Lodash:
[code]

It is more secure, because if you want to include a new field you will do it explicitly, and not accidentally leave it without `{select: false}` showing the value to the world. As you can see, above  very simple solutions, the framework should not

[2019-10-08 17:32] OrkhanAlikhanov commented on #533
Hey @yosbelms! I think we both have used `toJSON`. However, I think a user friendly framework should provide the most out of the box. There might be some cases where we want to conditionally hide some properties, laravel does a great job handling these cases which you can find a link in the description of this issue.

[2019-10-08 17:36] yosbelms opened #550 "[FEATURE REQUEST] Allow custom templates for code generation"
Default code generation should be simple, just a starting point. But, if I want the generated code to be more domain specific, I would like to have the flexibility of:

- To create my own templates.
- To publish and reuse community templates.

Example: `create-react-app`

It should be either passed through CLI params, or live in some config entry, or both

[2019-10-08 18:21] yosbelms commented on #533
Sure, but you wrote a custom function with the `hidden` logic, with O(n) complexity, my `toJSON` proposal(`only show` policy), is simple, O(1) complexity.

Bloated frameworks provides the most out of the box. However, JS  has `toJSON` _in the box_. So, you have it at language level.

Laravel does that way because it doesn't recommend to override `toJSON` function, so, I see it more like a hack, bu

[2019-10-08 18:29] squareloop1 commented on #533
There is also the possiblity to use the `@Exclude()` and `@Expose()` decorators of the class-validator / class-transformer packages.

[2019-10-08 19:18] OrkhanAlikhanov commented on #533
Well, you've only moved it to lodash, complexity still is the same. Also, my above code is just for the sake of showing an example approach. I've come up with your solution before moving it to have more simpler API

[2019-10-09 07:54] LoicPoullain commented on #548
Sorry for the late reply. This is definitely an issue with current version 1 of FoalTS.

`fetchUser` function cannot add the type `ObjectId` in its definition because it is part of `@foal/core`. This package cannot rely on an ODM/ORM or a specific database such as `mongodb`.

The choice I made to define the id type as a `number` or a `string` definitely leads to issues when using MongoDB with Type

[2019-10-09 07:59] LoicPoullain commented on #549
Hi @ibnIrshad

The documentation is incomplete. The `hashPassword` function does both hash and salt passwords. A random salt is generated for each password and is saved with the hash in the database.

Password hashing and salting are managed in a similar way as [Django framework](https://www.djangoproject.com/) does.

[2019-10-09 08:14] #549 closed

[2019-10-09 11:39] kingdun3284 opened #552 "Ajv $ref problem"
I found that the ajv can't resolve
[code]
which is supposed to be supported by openapi 3. After I studied some of the source code, I found that foal didn't adding the whole openapi.json schema when initializing the ajv instance, but only validate against a part of the schema.

[2019-10-09 13:32] Fredy22 commented on #548
No problem. I suspected that testing mongodb with typeorm (still experimental) would not be easy :)
I think the easiest thing for me is to go through mongoose.

[2019-10-10 16:55] darekaze commented on #439
Instead of iGraphQL, why not [GraphQL Playground](https://github.com/prisma-labs/graphql-playground)? I feel the later will have a better dev experience

[2019-10-15 15:15] darekaze commented on #439
Quoted from the `graphql-playground` project:

Yeah, I know it's big, but it is an opt-in dev Dependency so it won't affect building for production.

To list out some features I like it more cause it support subscription out-of-the-box, and get history and tabs features which I found them very useful.

Foal is already good in dev experience imo, and I think `graphql-playground` can make the dev ex